<section class="content-header">
      <h1 style="color: #ecf0f5">
        I
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i>Tablero</a></li>
        <li><a href="#/agrupacion">Grupos Artísticos</a></li>
      </ol>
</section>
<section ng-show="!ver" class="content">

  <div id="cargando" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: white url(https://camo.githubusercontent.com/c42feb9a8f376b4cea25daa05378ffc793ae2da4/687474703a2f2f692e696d6775722e636f6d2f4453487a6e73472e676966) no-repeat center center">
  
  </div>
</section>
<!-- Main content -->
<section ng-show="ver" class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-music"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{agrupaciones.length}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">GRUPOS</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-user"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{reporte.cantPersonas}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ARTISTAS</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-venus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{reporte.cantMujeres}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">MUJERES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-mars"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{reporte.cantHombres}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">HOMBRES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
    
  <!-- Main row -->
  <div class="row">
      <!-- Left col -->
      <div class="col-md-8 col-xs-12">
        <!-- MAP & BOX PANE -->
          <div class="box" style="border:none !important;">
            <div class="box-header with-border">
              
              <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">LISTADO DE GRUPOS ARTISTICOS</h3>
              <div class="box-tools pull-right">
                <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  data-toggle="modal" data-target="#myModal" ng-click="cambiarButton()">NUEVA AGRUPACION</button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table class="table table-hover table-striped">
                <tbody>
                <tr>
                  <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">TELEFONO</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">EMAIL</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">GENERO</th>
                  <th style="font-size: small; color: #B6BBC0 !important;"></th>
                  
                </tr>
                  
                <tr ng-repeat="agrupacion in agrupaciones">
                  <td class="mailbox-name"><a style="color: #00a3ee !important; font-size: small;">{{agrupacion.nombre}}</a></td>
                  <td style="font-size: small">{{agrupacion.telefono}}</td>   
                  <td style="font-size: small">{{agrupacion.correo}}</td>
                  <td style="font-size: small">{{agrupacion.nombreGenero}}</td>
                  <td>            
                    <div class="btn-group">
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="cargarAgrupacion(agrupacion)" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal6" ng-click="eliminar(agrupacion , $index)"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>
    <!--end col left-->
    <div class="col-md-4 col-xs-12">
      <div class="box " style="border:none !important;">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">TIPOS DE GENEROS</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body ">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
          </canvas> 
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="l in labels"><a style="font-size: small"><i class="fa fa-circle" ng-style="colores[$index]"></i> {{l}} <span class="pull-right" style="color: #B6BBC0 !important">{{data[$index]}}</span></a></li>
            
          </ul>
        </div>
        <!-- /.footer -->
        
      </div>
      <!-- /.box -->
    </div>
    
  </div>
  

</section>

<!-- Modal DE INSERTAR AGRUPACIONES-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document" >
    <div class="modal-content">
       <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">NUEVA AGRUPACIÓN</h3></center>
      </div>
      <form name="formAgrupacion">
      <div class="modal-body" style="background-color:rgb(255, 255, 255) !important; color: black !important;">
         <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS BÁSICOS</h3>  
          </div><br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-4 col-xs-12" >
              <label style="font-weight: 300;">Nombre:</label>
              <input style="border-radius: 9px"  ng-model="agrupacion.nombre" type="text" class="form-control" required>
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Representante:</label>
              <input style="border-radius: 9px"  ng-model="agrupacion.representante" type="text" class="form-control" required>
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Nit:</label>
              <input style="border-radius: 9px" ng-model="agrupacion.nit" type="number" class="form-control" required>
          </div>
        </div><br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Departamento:</label>
               <select style="border-radius: 9px" ng-model="agrupacion.departamento" class="form-control" ng-change="buscarCiudad(agrupacion.departamento)" required>
                <option value="{{departamento.idDepartamento}}" ng-repeat="departamento in departamentos" ng-selected ="departamento.idDepartamento == departamentoSelect">{{departamento.nombre}}</option>
            </select>
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Ciudad:</label>
              <select style="border-radius: 9px" ng-model="agrupacion.ciudad" class="form-control" required>
                <option value="{{ciudad.idCiudad}}" ng-repeat="ciudad in ciudades" ng-selected ="ciudad.idCiudad == ciudadSelect">{{ciudad.nombre}}</option>
              </select>
          </div>
           <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Región:</label>
              <select style="border-radius: 9px" ng-model="agrupacion.region" class="form-control" required>
                <option value="{{region.idRegion}}" ng-repeat="region in regiones" ng-selected ="region.idRegion == regionSelect">{{region.nombre}}</option>
              </select>
          </div>
        </div><br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Dirección:</label>
              <input style="border-radius: 9px" id="direccion" ng-model="agrupacion.direccion" type="text" class="form-control" required>
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">telefono:</label>
             <input style="border-radius: 9px" ng-model="agrupacion.telefono" type="number" class="form-control" required>
          </div>
         <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">telefono 2:</label>
             <input style="border-radius: 9px" ng-model="agrupacion.telefono2" type="number" class="form-control">
          </div>
        </div><br>
        <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
          <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DETALLES</h3>  
        </div><br>
        <div class="row" style="font-size: smaller">
         <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Número Empleados:</label>
             <input style="border-radius: 9px" ng-model="agrupacion.nempleados" type="number" class="form-control" required>
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Cantidad de Mujeres:</label>
              <input style="border-radius: 9px" ng-model="agrupacion.cantMujeres" type="number" class="form-control" required>
           </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Cantidad de Hombres:</label>
             <input style="border-radius: 9px" ng-model="agrupacion.cantHombres" type="number" class="form-control" required>
          </div>
        </div><br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Email:</label>
             <input style="border-radius: 9px" ng-model="agrupacion.email" type="email" class="form-control" required>
          </div>
          <div class="col-md-4 col-xs-12">
            <label style="font-weight: 300;"><span ng-if="swichCargo==0" class="fa fa-plus " style="color:#3c8dbc" ng-click="cambiaCargo()" ></span><span ng-if="swichCargo==1" class="fa  fa-list-ul " style="color:#3c8dbc" ng-click="cambiaCargo()" ></span> <span ng-if="swichCargo==0" >Seleccione un Género:</span><span ng-if="swichCargo==1||swichCargo==2">Nuevo Género:</span></label>
            <input style="border-radius: 9px" ng-if="swichCargo==1||swichCargo==2" id="cargo" ng-model="agrupacion.genero" type="text" class="form-control" placeholder="">

            <select style="border-radius: 9px" ng-if="swichCargo==0" ng-model="agrupacion.genero" class="form-control" required>
               <option value="{{g.idGenero}}" ng-repeat="g in genero" ng-selected ="g.idGenero == generoSelect">{{g.nombre}}</option>
            </select>

          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Facebook (opcional):</label>
             <input style="border-radius: 9px" ng-model="agrupacion.facebook" type="text" class="form-control">
          </div>
        </div><br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Instagram (opcional):</label>
             <input style="border-radius: 9px" ng-model="agrupacion.instagram" type="text" class="form-control">
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Youtube (opcional):</label>
             <input style="border-radius: 9px" ng-model="agrupacion.youtube" type="text" class="form-control">
          </div>
          <div class="col-md-4 col-xs-12">
              <label style="font-weight: 300;">Twitter (opcional):</label>
             <input style="border-radius: 9px" ng-model="agrupacion.twitter" type="text" class="form-control">
          </div>          
        </div><br>  
          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">UBICACIÓN</h3>  
          </div><br>
        <div class="row"  ng-init="initMap()">
           <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="deleteMarkers();" >ELIMINAR MARKER
            </button>
            <div style="width: 100% !important;" id="map2"></div>
        </div>
      </div>
      <div class="modal-footer" style="margin: 0">
         <!-- <button type="button" ng-disabled="formActividad.$invalid" class="btn " data-dismiss="modal" ng-click="nuevoGenero()">{{button}}</button>-->
         <button ng-disabled="formAgrupacion.$invalid" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-click="guardarAgrupacion()">{{button}}</button>
      </div>
     </form>    
    </div>
  </div>
</div>
<!--modal de eliminar-->
<div class="modal fade" id="myModal6" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 15px">
        <div class="box" style="border: none; box-shadow: none;">             
          <div class="icon">
            <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
              <p>
                ¿Está seguro de que desea eliminar la Agrupación?
              </p>
            <br> <br>
             <button  type="button" class="btn pull-left buttonModal" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn pull-right buttonModal" data-dismiss="modal" ng-click="delete()">Aceptar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-body">
        <div class="box" style="border-top: none; box-shadow: none;">             
          <div class="icon">
            <div class="image"><i style="color: #00a3ee ! important" class="ion ion-happy-outline"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ÉXITO!</h3>
              <p>
                Se ha realizado correctamente.
              </p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

