
<section class="content-header">
      <h1>
        Detalles del evento
        <small>principal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Tablero</a></li>
        <li><a href="#/eventousuario">Evento</a></li>
        <li><a href="">Detalle</a></li>
      </ol>
</section>

<!-- Main content -->
<section class="content">
   
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="box" style="border:none !important;">    
          <!-- /.box-header -->
          <div class="box-body">
            <img src="{{path+detalle.imagen}}"  style="width: 100% !important; height: 233px;">
            <h3 style="margin-bottom: 1px">{{detalle.descripcion}}</h3>
            <p style="color: #B6BBC0; margin-top: 0">Creado : {{detalle.creado}}</p>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5 col-xs-6 ">
                 <button ng-if="cambio == 0" class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="editar()" >EDITAR EVENTO</button>  
              </div>
              <div class="col-md-5 col-xs-6">
                 <button class="btn btn-lg" style="text-align: center ; color: #B6BBC0;background-color: #fff; border: 1px solid #B6BBC0;font-size: 10px ;" ng-click="limpiarForm();" data-toggle="modal" data-target="#myModal8">CAMBIAR IMAGEN</button>  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="box" style="border:none !important;">    
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <h3 style="margin-bottom: 0px; ">Datos Básicos</h3>
                <p style="margin-top: 0px;color: #B6BBC0;margin-bottom: 0px;">{{detalle.descripcion}}</p>
              </div>
            </div>
          </div>
          <div class="box-footer no-padding" style="height: 286px;">
            <ul class="nav nav-pills nav-stacked">
              <li><a href=""><i class="fa fa-circle" style="color: #06A2EB"></i> Descripción <p style="padding-left: 8%;margin-top: 0px;color: #B6BBC0;margin-bottom: 0px;">{{detalle.descripcion}}</p>
               </a></li>
              <li><a href=""><i class="fa fa-circle" style="color: #06A2EB"></i> Dirección
              <p style="padding-left: 8%;margin-top: 0px;color: #B6BBC0;margin-bottom: 0px;">{{detalle.Direccion}}</p> </a></li>
              <li><a href=""><i class="fa fa-circle" style="color: #06A2EB"></i> Telefono <p style="padding-left: 8%;margin-top: 0px;color: #B6BBC0;margin-bottom: 0px;">{{detalle.telefono}}</p></a></li>
              <li><a href=""><i class="fa fa-circle" style="color: #06A2EB"></i> Correo <p style="padding-left: 8%;margin-top: 0px;color: #B6BBC0;margin-bottom: 0px;">{{detalle.correo}}</p></a></li>
            </ul>
          </div>
        </div> 
      </div>
      <div class="col-md-4 col-xs-12 letraNegra">
        <div class="box box-solid " >
          <div class="box-header letraAzul" >
            <h3 class="box-title" style="font-size: 15px">Configuración del Evento</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
                <div class="col-md-6 col-xs-6" style="padding-right: 0px">
                  <div class="row" ng-click="editarJunta(detalle)" data-toggle="modal" data-target="#myModal2" ng-click="paso(detalle)" style="margin: 0px ; border-top: solid 1px #202e5894; border-bottom:solid 1px #202e5894;  ">
                    <h4 class="letraGris"><i class="iconAzul fa fa-th"></i> Organizadores</h4>
                  </div>  
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;">
                     <a href="#/presupuesto" ng-click="paso(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-bar-chart"></i> Presupuesto</h4></a>
                  </div>  
                  <div data-toggle="modal" data-target="#myModal4" class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                    <a ng-click="allInteres()">
                      <h4 class="letraGris"><i class="iconAzul fa fa-compass"></i> S. de Interés</h4>
                    </a>
                  </div>
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                   <a href="#/encuesta" ng-click="paso(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-edit"></i> Encuesta</h4></a>
                  </div> 
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                    <a href="#/real" ng-click="paso(detalle)"><h4 class="letraGris"><i class="iconAzul fa fa-bar-chart"></i> Presupuesto R</h4></a>
                  </div>
                </div>
                <div class="col-md-6 col-xs-6" style="padding-left: 0px">
                  <div class="row" style="margin: 0px ; border-top: solid 1px #202e5894; border-bottom:solid 1px #202e5894; ">
                     <a href="#/actividad" ng-click="paso(detalle)"><h4 class="letraGris"><i class="iconAzul fa fa-list"></i> Actividades</h4></a>
                  </div>  
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                   <a href="#/consumo" ng-click="paso(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-recycle"></i> Consumo</h4></a>
                  </div>  
               <!-- -->
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                   <a href="" ng-click="paso(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-file-text"></i> P. Contingencia</h4></a>
                  </div>
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                   <a href="#/invitacion" ng-click="paso(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-envelope-o"></i> Invitaciones </h4></a>
                  </div>
                  <div class="row" style="margin: 0px ;  border-bottom:solid 1px #202e5894;  ">
                    <a href=""  ng-click="verReporte(detalle)"> <h4 class="letraGris"><i class="iconAzul fa fa-pie-chart "></i> Reporte</h4></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
   
     <!-- general form elements  -->
     <!-- <div class="box" style="border:none !important;">
        <div class="box-body">
          <div class="row">
            <div class="col-md-2" >
              <img src="{{path+detalle.imagen}}"  style="width: 100% !important">
            </div>
            <div class="col-md-10" >
              <h3>{{detalle.descripcion}}</h3>
              <p>Creado : {{detalle.creado}}</p>
              <button ng-if="cambio == 0" type="button" class="btn btn-default btn-sm checkbox-toggle" ng-click="editar()"> <i class="fa fa-edit"></i>
              Editar evento</button>
              <button type="button" class="btn btn-default btn-sm checkbox-toggle" ng-click="limpiarForm();" data-toggle="modal" data-target="#myModal8"> <i class="fa fa-image"></i>
              Cambiar imagen</button><br>
              <button style="margin-top: 1%" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i> Configuraciones
                <span class="caret"></span>
              </button>
              
  
              <ul class="dropdown-menu">
                <li ng-click="editarJunta(detalle)" data-toggle="modal" data-target="#myModal2"><a ng-click="paso(detalle)"><span class="fa fa-users" style="color:#f1a64d" ></span>Organizadores</a></li>
                <li><a href="#/actividad" ng-click="paso(detalle)"><span class="fa fa-calendar" style="color:#f1a64d" ></span>Actividades</a></li>
                <li data-toggle="modal" data-target="#myModal4"><a ng-click="allInteres()"><span class="fa fa-location-arrow" style="color:#f1a64d" ></span>Sitios de interés</a></li>
                <li><a href="#/presupuesto" ng-click="paso(detalle)"><span class="ion ion-pie-graph" style="color:#f1a64d" ></span>Presupuesto</a></li>
                <li><a href="#/invitacion" ng-click="paso(detalle)"><span class="fa fa-envelope" style="color:#f1a64d" ></span>Invitación</a></li>
                <li><a href="#/real" ng-click="paso(detalle)"><span class="ion ion-pie-graph" style="color:#f1a64d" ></span>Presupuesto Real</a></li>
                <li><a href="#/consumo" ng-click="paso(detalle)"><span class="fa fa-leaf" style="color:#f1a64d" ></span>Consumo</a></li>
                <li><a href="#/encuesta" ng-click="paso(detalle)"><span class="ion ion-ios-compose" style="color:#f1a64d" ></span>Encuesta</a></li>
                <li ><a href="" ng-click="verReporte(detalle)"><span class="fa fa-file" style="color:#f1a64d" ></span>Reporte</a></li>
                
              </ul>
            </div>          
          </div>
        </div>
      </div>-->
      <!-- /.box -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon iconosPrincipal"><i class="fa fa-clock-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text" style="font-size: large; color: black !important">{{totalActividades.horas}}</span>
                  <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ENTRETENIMIENTO</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon iconosPrincipal"><i class="fa fa-users"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text" style="font-size: large; color: black !important">{{totalActividades.empleo}}</span>
                  <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL EMPLEADOS</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon iconosPrincipal"><i class="fa fa-users"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text" style="font-size: large; color: black !important">{{totalActividades.aforo}}</span>
                  <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">AFORO</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon iconosPrincipal"><i class="fa fa-bar-chart"></i></span>
        
                <div class="info-box-content">
                  <span class="info-box-text" style="font-size: large; color: black !important">{{totalActividades.cantidad}}</span>
                  <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ACTIVIDADES</span>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="box " style="border:none !important;">
            <div class="box-body" ng-init="initMap2()">
              <div style="width: 97% !important; height: 176px !important" id="map3"></div>
            </div>
          </div>
        </div>
        
      </div>
      <!-- /.row -->
      
      <!--<div ng-show="cambio == 0" class="row">
        <div class="col-md-4 col-xs-4 col-lg-4">
          <div class="box " style="border:none !important;">
            <div class="box-header with-border">
              <h3 class="box-title">Datos Básicos</h3>
            </div>
            <div class="box-body" style="height: 320px">
              <div class="form-group">
                <label>Descripción:</label>
                <p style="margin-top: 0">{{detalle.descripcion}}</p>
              </div>
              <div class="form-group">
                <label>Dirección:</label>
                <p style="margin-top: 0">{{detalle.Direccion}}</p>
              </div>
              <div class="form-group">
                <label>Telefono:</label>
                <p style="margin-top: 0">{{detalle.telefono}}</p>
              </div>
              <div class="form-group">
                <label>Correo:</label>
                <p style="margin-top: 0">{{detalle.correo}}</p>
              </div>
            </div>
          </div>
        </div>
       
        <div class="col-md-4 col-xs-4 col-lg-4">
          <div class="box " style="border:none !important;">
            <div class="box-header with-border">
              <h3 class="box-title">Resumen</h3>
            </div>
            <div class="box-body ">
  
              <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12" >
                  <div class="cuadro1" style="height: 140px; ">
                    <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                      <i style="font-size:larger" class="fa fa-clock-o"></i>
                    </h3>
                    <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.horas}} Horas</h3>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                  <div class="cuadro2" style="height: 140px; ">
                     <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                      <i style="font-size:larger" class="fa fa-users"></i>
                    </h3>
                    <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white"> {{totalActividades.empleo}} Empleos</h3>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                  <div class="cuadro3" style="height: 140px;">
                      <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                      <i style="font-size:larger" class="fa fa-line-chart"></i>
                    </h3>
                    <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.cantidad+totalActividades.cantidadSub}} Actividades</h3>
                  </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12 ">
                  <div class="cuadro4" style="height:140px; ">
                     <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                      <i style="font-size:larger" class="fa fa-area-chart"></i>
                    </h3>
                    <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.aforo}} Aforo</h3>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>-->
  
      <div ng-show="cambio == 1" class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
          <div class="box " style="border:none !important;">
              <div class="box-header with-border">
                <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EDITAR LOS DATOS DEL EVENTO</h3></center>
                <div class="box-tools pull-right" style="right: 5%">
                  <div class="row">
                    <div class="col-md-6">
                       <button class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;" ng-click="editar()">CANCELAR</button>
                    </div>
                    <div class="col-md-6">
                        <button ng-if="formEvento.$dirty" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-click="editar();actualizardetalle();">GUARDAR CAMBIOS</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-body" >
              <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
              <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS BÁSICOS</h3>  
              </div><br>
                <form name="formEvento">
                  <div class="row" style="font-size: smaller" >
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Nombre:</label>
                        <input style="border-radius: 9px" id="nombre" type="text" ng-model="detalle.descripcion" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Nit:</label>
                        <input style="border-radius: 9px" id="nit" type="text" ng-model="detalle.nit" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Versión:</label>
                        <input style="border-radius: 9px" id="version" type="text" ng-model="detalle.version" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Población:</label>
                        <input style="border-radius: 9px" id="poblacion" type="text" ng-model="detalle.poblacion" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                  </div>
                  <div class="row"  >
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Población Circulante:</label>
                        <input style="border-radius: 9px" id="circulante" type="text" ng-model="detalle.poblacionCirculante" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Fecha de fundación:</label>
                        <input style="border-radius: 9px" id="fundado" type="date" ng-model="detalle.fundado" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                  </div>
                <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                  <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">FECHAS Y DIRECCIÓN</h3>  
                </div><br>
                 <div class="row" style="font-size: smaller" >
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Fecha y hora de inicio:</label>
                        <input style="border-radius: 9px" id="inicio" type="datetime-local" ng-model="detalle.fechaInicio" class="form-control" >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Fecha y hora de Fin:</label>
                        <input style="border-radius: 9px" id="fin" type="datetime-local" ng-model="detalle.fechaFin" class="form-control" >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Dirección</label>
                        <textarea style="border-radius: 9px" id="direccion" class="form-control" rows="1" ng-model="detalle.Direccion" ></textarea>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Código Postal:</label>
                        <input style="border-radius: 9px" id="codigo" type="text" ng-model="detalle.codigoPostal" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                  </div>
                  <div class="row"  style="font-size: smaller">
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Departamento: </label>
                        <select style="border-radius: 9px" id="departamento" class="form-control"  >
                            <option ng-selected="departamento.idDepartamento == detalle.idDepartamento" value="{{departamento.idDepartamento}}" ng-repeat="departamento in departamentos">{{departamento.nombre}}</option>
                        </select>
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Ciudad:</label>
                        <select style="border-radius: 9px" id="ciudad" class="form-control" >
                            <option ng-selected="ciudad.idCiudad == detalle.idCiudad" value="{{ciudad.idCiudad}}" ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
                        </select>
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Región:</label>
                        <select style="border-radius: 9px" id="region" class="form-control" >
                            <option ng-selected="region.idRegion == detalle.idRegion" value="{{region.idRegion}}" ng-repeat="region in regiones">{{region.nombre}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                  <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">CONTACTO</h3>  
                </div><br>
                  <div class="row" style="font-size: smaller">
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Teléfono: </label>
                        <input style="border-radius: 9px" id="telefono" type="text" ng-model="detalle.telefono" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Teléfono 2 (opcional):</label>
                        <input style="border-radius: 9px" id="telefono2" type="text" ng-model="detalle.telefono2" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Correo:</label>
                        <input style="border-radius: 9px" id="correo" type="text" ng-model="detalle.correo" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Correo 2 (opcional):</label>
                        <input style="border-radius: 9px" id="correo2" type="text" ng-model="detalle.correo2" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                  </div>
                  <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                    <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">SOCIAL</h3>  
                  </div><br>
                  <div class="row"  style="font-size: smaller">
                    <div class="col-md-3">
                     <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Sitio Web (opcional): </label>
                        <input style="border-radius: 9px" id="web" type="text" ng-model="detalle.website" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label style="font-weight: 300;">Facebook (opcional):</label>
                        <input style="border-radius: 9px" id="facebook" type="text" ng-model="detalle.facebook" class="form-control" placeholder="Enter ..." >
                      </div> 
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Instagram (opcional):</label>
                        <input style="border-radius: 9px" id="instagram" type="text" ng-model="detalle.instagram" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label style="font-weight: 300;">Twitter (opcional):</label>
                        <input style="border-radius: 9px" id="twitter" type="text" ng-model="detalle.twitter" class="form-control" placeholder="Enter ..." >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
        
      </div>
  
</section>
<!-- Modal de junta directiva-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important; text-transform: uppercase ! important;">ORGANIZADORES DE: {{eventoSeleccionado.descripcion}} </h3></center>
      </div>
      <div class="modal-body" style="background-color:rgb(255, 255, 255) !important; color: black !important;">
        <div ng-if="swichJunta">
        <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">NUEVO INTEGRANTE</h3>  
        </div><br>
        <br>
        <div class="row" style="font-size: smaller">
          <div class="col-md-3">
           <!-- text input -->
            <div class="form-group">
              <label style="font-weight: 300;">Nombre:</label>
              <input style="border-radius: 9px" id="nombre" ng-model="j.nombre" type="text" class="form-control" placeholder="Juan">
            </div> 
          </div>
          <div class="col-md-3">
            <!-- text input -->
            <div class="form-group">
             <label style="font-weight: 300;">Apellido:</label>
              <input style="border-radius: 9px" id="apellido" ng-model="j.apellido" type="text" class="form-control" placeholder="Perez">
            </div> 
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label style="font-weight: 300;">Sexo:</label>
                <select style="border-radius: 9px" class="form-control" name="sexo" ng-model="j.sexo">
                  <option ng-repeat="s in selectSexo" ng-selected ="s.id == sexoS" value="{{s.id}}">{{s.name}}</option>
                </select>
            </div>
          </div>
          <div class="col-md-3">
            <!-- text input -->
            <div class="form-group">
              <label style="font-weight: 300;">Fecha de Nacimiento:</label>
              <input style="border-radius: 9px" id="fecha" ng-model="j.fechaNac" type="date" class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <div class="row" style="font-size: smaller">
          <div class="col-md-3">
            <!-- text input -->
            <div class="form-group">
             <label style="font-weight: 300;">Nivel Académico:</label>
                <select style="border-radius: 9px" class="form-control" name="nivel" ng-model="j.nivel" >
                  <option ng-repeat="n in nivelAcademico" value="{{n.id}}" ng-selected ="n.id == nivelS">{{n.name}}</option>
                </select>
            </div> 
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label style="font-weight: 300;">Dirección:</label>
              <input style="border-radius: 9px" id="direccion" ng-model="j.Direccion" type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <!-- text input -->
            <div class="form-group">
                <label style="font-weight: 300;">Teléfono:</label>
                <input style="border-radius: 9px" id="telefono" ng-model="j.telefono" type="number" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
           <!-- text input -->
            <div class="form-group">
              <label style="font-weight: 300;"><span ng-if="swichCargo==0" class="fa fa-plus " style="color:#3c8dbc" ng-click="cambiaCargo()" ></span><span ng-if="swichCargo==1" class="fa  fa-list-ul " style="color:#3c8dbc" ng-click="cambiaCargo()" ></span> <span ng-if="swichCargo==0">Seleccione un Cargo:</span><span ng-if="swichCargo==1||swichCargo==2">Nuevo Cargo:</span></label>
              <input style="border-radius: 9px" ng-if="swichCargo==1||swichCargo==2" id="cargo" ng-model="j.cargo" type="text" class="form-control" placeholder="">
              <select style="border-radius: 9px" ng-if="swichCargo==0"  class="form-control" ng-model="j.idCargo">
                <option value="{{cargo.idCargo}}" ng-repeat="cargo in cargos" ng-selected ="cargo.idCargo == cargoS" >{{cargo.nombre}}</option>
              </select>
            </div> 
          </div>
        </div>

        <div class="row" style="font-size: smaller">

          <div class="col-md-3">
            <!-- text input -->
            <div class="form-group">
              <label style="font-weight: 300;">Facebook:</label>
              <input style="border-radius: 9px" id="facebook" ng-model="j.facebook" type="text" class="form-control" placeholder="">
            </div> 
          </div>
          <div class="col-md-3">
            <label style="font-weight: 300;">Twitter:</label>
            <input style="border-radius: 9px" id="twitter" ng-model="j.twitter" type="text" class="form-control" placeholder="">
          </div>
          <div class="col-md-3">
            <label style="font-weight: 300;">Instagram:</label>
            <input style="border-radius: 9px" id="instagram" ng-model="j.instagram" type="text" class="form-control" placeholder="">
          </div>
        </div>
      </div>

        <div ng-if="!swichJunta">
       <!--   <button style="margin: 1%" type="button" class="btn botonCrear btn-sm" ng-click="nuevaJunta()"><i class="fa fa-plus"></i>
            Nuevo Integrante
          </button>-->
          <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="nuevaJunta()" >NUEVO INTEGRANTE</button>  
          <br>
          <p ng-if="!junta[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No hay organizadores registrados aún</p>
          <div class="table mailbox-messages table-responsive" ng-if="junta[0]">
            <table class="table table-hover table-striped">
              <tr>
                <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                <th style="font-size: small; color: #B6BBC0 !important;">APELLIDO</th>
                <th style="font-size: small; color: #B6BBC0 !important;">SEXO</th>
                <th style="font-size: small; color: #B6BBC0 !important;"></th>
              </tr>
              <tr ng-repeat="j in junta">
                <td class="mailbox-name" style="color: #00a3ee !important; font-size: small">{{j.nombre}}</td>
                <td class="mailbox-subject">{{j.apellido}}</td>
                <td class="mailbox-subject"><span ng-if="j.sexo == 0">Masculino</span><span ng-if="j.sexo == 1">Femenino</span></td>
                <td>
                  <div class="btn-group">
                    <!-- <button type="button" ng-click="editarIJ(j)"  class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></button>
                    <button type="button" data-toggle="modal" data-target="#myModal7" ng-click="seleccionaJunta(j.idJunta)"  class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                    -->
                     <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="editarIJ(j)"><i class="fa fa-edit"></i></button>
                    <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="seleccionaJunta(j.idJunta)" data-toggle="modal" data-target="#myModal7"><i class="fa fa-trash-o"></i></button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
     <div class="modal-footer" style="margin: 0;">
        <button ng-if="swichJunta" class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;" ng-click="nuevaJunta()">ATRÁS</button>          
        <button ng-if="swichActualizarJ && swichJunta" class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="actualizarIJ()">ACTUALIZAR</button>
        <button  ng-if="!swichActualizarJ && swichJunta" class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="nuevoIntegrante()">GUARDAR</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de poblacion-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document" style="border-top: 2px solid #f1a64d">
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h4 class="modal-title" id="myModalLabel">Datos de la población</h4></center>
      </div>
      <div class="modal-body" style="background-color:rgb(255, 255, 255) !important; color: black !important;">
        <form role="form">
          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #f1a64d solid 2px;" class="row" >
            <h3 style="color:#f1a64d; margin-bottom: 1%;margin-left: 1%; margin-top: 0">Mujeres</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">De 0 a 18 años</label>
                <input type="number" min="0" ng-model="poblacion._0a18M" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">De 19 a 64 años</label>
                <input type="number" ng-model="poblacion._19a64M" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Mayor de 64 años</label>
                <input type="number" min="0" ng-model="poblacion.mayor64M" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Indígena</label>
                <input type="number" ng-model="poblacion.indigenaM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Afrocolombiana</label>
                <input type="number" ng-model="poblacion.afroColombianaM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Raizal</label>
                <input type="number" ng-model="poblacion.raizalM" min="0" class="form-control" required>
              </div> 
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Pueblo Rom</label>
                <input type="number" ng-model="poblacion.puebloRomM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Mestiza</label>
                <input type="number" ng-model="poblacion.mestizaM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Palenquera</label>
                <input type="number" ng-model="poblacion.palenqueraM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Desplazados</label>
                <input type="number" ng-model="poblacion.desplazadosM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Discapacitados</label>
                <input type="number" ng-model="poblacion.discapacitadosM" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Víctimas</label>
                <input type="number" ng-model="poblacion.victimasM" min="0" class="form-control" required>
              </div> 
            </div>
            
          </div>

          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #f1a64d solid 2px;" class="row" >
            <h3 style="color:#f1a64d; margin-bottom: 1%;margin-left: 1%; margin-top: 0">Hombres</h3>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">De 0 a 18 años</label>
                <input type="number" min="0" ng-model="poblacion._0a18H" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">De 19 a 64 años</label>
                <input type="number" ng-model="poblacion._19a64H" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Mayor de 64 años</label>
                <input type="number" min="0" ng-model="poblacion.mayor64H" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Indígena</label>
                <input type="number" ng-model="poblacion.indigenaH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Afrocolombiana</label>
                <input type="number" ng-model="poblacion.afroColombianaH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Raizal</label>
                <input type="number" ng-model="poblacion.raizalH" min="0" class="form-control" required>
              </div> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Pueblo Rom</label>
                <input type="number" ng-model="poblacion.puebloRomH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Mestiza</label>
                <input type="number" ng-model="poblacion.mestizaH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Palenquera</label>
                <input type="number" ng-model="poblacion.palenqueraH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Desplazados</label>
                <input type="number" ng-model="poblacion.desplazadosH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Discapacitados</label>
                <input type="number" ng-model="poblacion.discapacitadosH" min="0" class="form-control" required>
              </div> 
            </div>
            <div class="col-md-2">
             <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Víctimas</label>
                <input type="number" ng-model="poblacion.victimasH" min="0" class="form-control" required>
              </div> 
            </div>
          </div>
        </form>        
     </div>
     <div class="modal-footer" style="margin: 0;">
          <button type="button" ng-if="!swichPoblacion" class="btn pull-right" data-dismiss="modal" ng-click="updatePoblacion()">Actualizar</button>
          <button type="button" ng-if="swichPoblacion" class="btn pull-right" data-dismiss="modal" ng-click="crearPoblacion()">Guardar</button>
      </div>
        
    </div>
  </div>
</div>
<!-- Modal de sitios de interes-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">SITIOS DE INTERÉS</h3></center>
      </div>
      <div class="modal-body">
        <div ng-if="swichint">
          <form name="formJunta">
            <div class="row" style="font-size: smaller">       
              <div class="col-md-4 col-xs-12">
                  <label style="font-weight: 300;">Nombre:</label>
                  <input style="border-radius: 9px" ng-model="int.nombre" type="text" class="form-control" placeholder="Punto de información">
              </div>
              <div class="col-md-4 col-xs-12">
                  <label style="font-weight: 300;">Direccion:</label>
                  <input style="border-radius: 9px" ng-model="int.direccion" type="text" class="form-control" placeholder="carrera 19 #20c-58">
              </div>
            </div><br>
            <div class="row" ng-init="initMap()">
              <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="deleteMarkers();" >ELIMINAR MARKER
             </button>
              <div style="width: 100% !important;" id="map2"></div>
            </div><br>
          </form>
        </div>
        <div ng-if="!swichint">
          <button ng-disabled="formEmpresa.$invalid" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;" ng-click="nuevoInteres()">Nuevo sitio</button>
          <br>
          <div class="box" ng-if="!interes[0]" style="border: 0">             
            <div class="icon">
              <div class="image"><i class="ion ion-sad-outline"></i></div>
              <div class="info">
                <h3 class="title">OPS!</h3>
                <p>
                  Aún no ha ingresado sub actividades, por lo tanto no posee un presupuesto inicial, por favor diríjase al área de configuraciones del evento.
                </p>
              </div>
            </div>
          </div>
          <div class="table mailbox-messages">
            <table ng-if="interes[0]" class="table table-hover table-striped">
              <tr>
                <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                <th style="font-size: small; color: #B6BBC0 !important;">DIRECCION</th>
                <th style="font-size: small; color: #B6BBC0 !important;"></th>
              </tr>
              <tr ng-repeat="i in interes">
                <td class="mailbox-name" style="color: #00a3ee !important; font-size: small;">{{i.nombre}}</td>
                <td class="mailbox-subject" style="font-size: small">{{i.direccion}}</td>
                <td align="center">
                  <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal6" ng-click="seleccionarInteres(i.idInfo)"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div ng-if="swichint" class="modal-footer" style="margin: 0">
          <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-click="atras()" >ATRÁS</button>
          <button ng-disabled="formActividad.$invalid" class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="guardarInteres()" >GUARDAR</button>
      </div>   
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-body">
        <div class="box" style="border-top: none; box-shadow: none;">             
          <div class="icon">
            <div class="image"><i style="color: #00a3ee ! important" class="ion ion-happy-outline"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ÉXITO!</h3>
              <p>
                Se ha realizado correctamente.
              </p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal6" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 15px">
        <div class="box" style="border: none; box-shadow: none;">             
          <div class="icon">
            <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
            <div class="info">
            <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
              <p>
                ¿Está seguro de que desea eliminar el sitio de interés?
              </p>
            <br> <br>
             <button  type="button" class="btn pull-left buttonModal" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn pull-right buttonModal" data-dismiss="modal" ng-click="eliminarInteres()">Aceptar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal7" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 15px">
        <div class="box" style="border: none; box-shadow: none;">             
          <div class="icon">
            <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
            <div class="info">
            <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
              <p>
                ¿Está seguro de que desea eliminar?
              </p>
            <br> <br>
             <button  type="button" class="btn pull-left buttonModal" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn pull-right buttonModal" data-dismiss="modal" ng-click="eliminarIJ()">Aceptar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div id="myModal8" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Guardar Imágen</h4>
      </div>
      <div class="modal-body">
          <label>Seleccione una Imágen</label>
            <div class="form-group">
                <input  style="border: 1px solid;" type="file" file-model="imagen" id="file" ng-click="limpiarForm()" accept="image/x-png,image/gif,image/jpeg">
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="guardarImagen(imagen);">Guardar</button>
      </div>
    </div>
  </div>
</div>
