<!-- <section class="content-header">
      <h1>
        Idecon Tablero
        <small>principal</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard">Tablero</a></li>
      </ol>
</section>-->

<!-- Main content -->
<!-- Main content -->
<section ng-show="!ver" class="content">

  <div id="cargando" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: white url(https://camo.githubusercontent.com/c42feb9a8f376b4cea25daa05378ffc793ae2da4/687474703a2f2f692e696d6775722e636f6d2f4453487a6e73472e676966) no-repeat center center">
  
  </div>
</section>
<section ng-show="ver" class="content" ng-if="user.tipo!=5">
  <!--  <div class="row">
      <div class="col-md-3 col-xs-12" style="padding-right: 0px">
         <label> Seleccionar Departamento:</label>
      </div>
      <div class="col-md-3 col-xs-12" style="padding-left: 0px">
        <select ng-model="departamento" class="form-control" ng-change="buscarDashboard(departamento)" required>
            <option value="0" selected>Todos los Eventos</option>
            <option value="{{departamento.idDepartamento}}" ng-repeat="departamento in departamentos" >{{departamento.nombre}}</option>
        </select>
      </div>
    </div>-->

    <div class="row">
      <div class="col-md-6">
        <div class="callout boxBlue">
              <h4 class="pull-right" style="margin-bottom: 0%">Bienvenido a Creko
                <span id ="fecha" style="margin-left: 4px">{{fechaActual | date : format : timezone}}</span>
              </h4>
              <br>
             <div class="row">
               <div class="col-md-3 col-xs-6">
                 <div class="avatar" style="background-image: url(../public/img/perfil.jpg)"></div>
                </div>
               <br>
               <div class="col-md-4 col-xs-6">
                 <h3 style="margin: 0px">{{user.nombre}} </h3>
                 <p style="font-size: small; margin: 0px"><i class="fa fa-map-marker"></i> Valledupar , Colombia</p>
               </div>
               <div class="col-md-5 col-xs-12" style="padding: 0px">
                  <p style="margin: 0px; text-align: justify; font-size: small;">Herramientas al servicio de las empresas culturales, para formular, ajustar y evaluar. </p>
               </div>
             </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-5 col-xs-12" style="padding-right: 0px">
                 <label  style="font-size: small;"> Seleccionar Departamento:</label>
              </div>
              <div class="col-md-4 col-xs-12" style="padding-left: 0px">
                <select ng-model="departamento" class="form-control" ng-change="buscarDashboard(departamento)" required>
                    <option value="0" selected>Todos los Eventos</option>
                    <option value="{{departamento.idDepartamento}}" ng-repeat="departamento in departamentos" >{{departamento.nombre}}</option>
                </select>
              </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px ;">
          <div class="info-box">
            <span class="info-box-icon iconosPrincipal"><i class="fa fa-bullhorn"></i></span>
            <div class="info-box-content">
              <span class="info-box-text" style="font-size: medium; color: black !important">{{eventos.length}}</span>
              <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL EVENTOS</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>  
        <div class="col-md-6" style="padding-left: 0px ;">
          <div class="info-box">
            <span class="info-box-icon iconosPrincipal"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
              <span class="info-box-text" style="font-size: medium; color: black !important">{{sum.nempleados}}</span>
              <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL EMPLEADOS</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px">
          <div class="info-box">
            <span class="info-box-icon iconosPrincipal"><i class="fa fa-arrow-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text" style="font-size: medium; color: black !important">${{totalIngCos.totalIngresos}}</span>
              <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL INGRESOS</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 0px ;">
          <div class="info-box">
            <span class="info-box-icon iconosPrincipal"><i class="fa fa-arrow-down"></i></span>
            <div class="info-box-content">
              <span class="info-box-text" style="font-size: medium; color: black !important">${{totalIngCos.totalCostos}}</span>
              <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL EGRESOS</span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>  
      </div>
      <div class="col-md-6">
        <div class="box" style="border-top:white !important; ">
            <div class="box-header">
              <!-- tools box -->
              <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">Mapa de   {{tituloMapa}}</h3>
              <div class=" box-tools">
                <select  ng-change="selectMapa(tipo)" ng-model="tipo" class="selectP form-control">
                    <option value="0">Eventos</option>
                    <option value="1"  ng-selected="tipo==1">Actividades</option>
                    <option value="2">Empresas</option>
                    <option value="3">Agrupaciones</option>
                    <option value="4">Participantes</option>
                    <option value="5">Hoteles</option>
                    <option value="6">Restaurantes</option>
                    <option value="7">Lugares Turisticos</option>
                </select>
              </div>
              <!-- /. tools -->
            </div>
        <!-- /.box-header -->
          <div class="box-body no-padding">
            <div class="row">
              <div class="col-md-12 col-sm-8"  ">
                <div class="pad">
                  <!-- Map will be created here -->
                  <div style="width: 97% !important; height: 300px !important" id="map"></div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-md-4">
      <div class="box" style="border: none !important;">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EMPRESAS</h3>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="pie" style="height: 150px !important" class="chart chart-pie" chart-data="cantEmpresas" chart-labels="s" chart-options="options" legend="true">
            </canvas>

         </div>
        </div>
        <div class="box-footer no-padding" style="background-color: white; height: 130px">
          <ul class="nav nav-pills nav-stacked" style="margin-top: 0px !important">
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle iconBlue"></i>Colaboradoras: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalEmpresa.promPatrocinio}}%</span></a></li>
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle" style="color: #00eab5"></i>Patrocinadoras: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalEmpresa.promProvee}}% </span></a></li>
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle" style="color:#ff6c00"></i>Consumidoras: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalEmpresa.promConsumo}}% </span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a ng-click="tab(0)" data-toggle="tab"><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">Semanales</h3>
            </a></li>
          <li ><a ng-click="tab(1)" data-toggle="tab"><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">Mesuales</h3>
            </a></li>
          <li class="pull-left header"> <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EVENTOS</h3>
          </li>
        </ul>
        <div class=" no-padding" style="height: 278px">
          <!-- Morris chart - Sales -->
          <div ng-show="mostrarTab == 1" style="position: relative; ">
            <!--Mensuales-->
           <!-- <canvas id="base" class="chart-horizontal-bar"
              chart-data="data22" chart-labels="labels" style="height: 290px ! important" >
            </canvas> -->
            <div class="chart">
              <canvas id="barChart" style="height:230px"></canvas>
            </div>
          </div>
          <div ng-show="mostrarTab == 0" style="position: relative; ">
            <!--Semanales-->
           <!-- <canvas id="base2" class="chart-horizontal-bar"
              chart-data="data23" chart-labels="labels2" style="height: 290px ! important">
            </canvas>-->
            <div class="chart">
              <canvas id="barChart2" style="height:230px"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box" style="border: none !important;">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">TIPO DE ACTIVIDADES</h3>
           <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
          <canvas id="doughnut" style="height: 150px !important" class="chart chart-doughnut" chart-data="dataTipo" chart-labels="labelsTipo"></canvas>
          </div>
        </div>
        <div class="box-footer no-padding" style="background-color: white;">
          <ul class="nav nav-pills nav-stacked" style="margin-top: 0px !important">
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle iconBlue" style="color: #00eab5"></i>Sin valor Comercial: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalTipo.sinvalor}} </span></a></li>
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle iconBlue" style="color:  #00abf8"></i>Con valor Comercial: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalTipo.conboleta}} </span></a></li>
            <li ><a style="font-size: small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class=""><i class="fa fa-circle iconBlue" style="color:  #ff6c00"></i>Con Boleta de Ingreso: <span class="pull-right" style="color: #B6BBC0 !important" > {{totalTipo.convalor}} </span></a></li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #4fc5fa; background-color: white"><i class="fa fa-clock-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{horas}} hrs</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important"> ENTRETENIMIENTO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #4fc5fa; background-color: white"><i class="fa fa-group"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{capacidad}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">AFORO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #4fc5fa; background-color: white"><i class="fa fa-bar-chart"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{cantActividades}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ACTIVIDADES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #4fc5fa; background-color: white"><i class="fa fa-user"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{cantSub}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">SUB-ACTIVIDADES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    
    
  </div>
  <!-- /.row -->
  
    <div class="row">
      <div class="col-md-3">
          <div class="box" style="border: none !important;">
            <div class=" box-header bgBlue" style="padding: 0px">
             <center><h4 class="widget-user-username letraBlanca" style="margin-top: 5%;margin-bottom: 5%;">HRS. ENTRETENIMIENTO</h4></center>
            </div>
            <div class="box-footer no-padding" style="height: 172px">
              <ul class="nav nav-stacked">
                <li ng-repeat="m in totalModalidad"><a style="font-size: small"> {{m.nombre}} <span class="pull-right" style="color: #B6BBC0 !important">{{m.horas}} hrs</span></a></li>
              </ul>
            </div>
          </div>
          <!-- /.widget-user -->
        </div>
        <div class="col-md-3">
           <div class="box" style="border: none !important;">
            <div class=" box-header bgAgua" style="padding: 0px">
              <center><h4 class="widget-user-username letraBlanca" style="margin-top: 5%;margin-bottom: 5%;">AFORO</h4></center>
            </div>
            <div class="box-footer no-padding" style="height: 172px">
              <ul class="nav nav-stacked">
                <li ng-repeat="m in totalModalidad"><a style="font-size: small"> {{m.nombre}} <span class="pull-right" style="color: #B6BBC0 !important">{{m.aforo}}</span></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
           <div class="box" style="border: none !important;">
            <div class="widget-user-header">
              <div class=" box-header bgGray" style="padding: 0px">
               <center><h4 class="widget-user-username letraBlanca" style="margin-top: 5%;margin-bottom: 5%;">GRUPOS ARTÍSTICOS</h4></center>
              </div>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a style="font-size: small">Cantidad <span class="pull-right" style="color: #B6BBC0 !important">{{totales.agrupaciones}}</span></a></li>
                <li><a style="font-size: small">Artistas <span class="pull-right" style="color: #B6BBC0 !important">{{totalAgrupacion.miembros}}</span></a></li>
                <li><a style="font-size: small">Hombres <span class="pull-right" style="color: #B6BBC0 !important">{{totalAgrupacion.hombres}}</span></a></li>
                <li><a style="font-size: small"> Mujeres <span class="pull-right" style="color: #B6BBC0 !important">{{totalAgrupacion.mujeres}}</span></a></li>
                <!--<li><a style="font-size: small">Locales<span class="pull-right" style="color: #B6BBC0 !important">12</span></a></li>
                <li><a style="font-size: small">Externos<span class="pull-right" style="color: #B6BBC0 !important">10</span></a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
           <div class="box" style="border: none !important;">
            <div class="widget-user-header">
              <div class=" box-header bgOrange" style="padding: 0px">
               <center><h4 class="widget-user-username letraBlanca" style="margin-top: 5%;margin-bottom: 5%;">PARTICIPANTES</h4></center>
              </div>
            </div>
            <div class="box-footer no-padding">
              <ul class="nav nav-stacked">
                <li><a style="font-size: small">Hombres<span class="pull-right" style="color: #B6BBC0 !important">{{totalParticipante.hombres}}</span></a></li>
                <li><a style="font-size: small">Mujeres<span class="pull-right" style="color: #B6BBC0 !important">{{totalParticipante.mujeres}}</span></a></li>
                <li><a style="font-size: small">Naturales<span class="pull-right" style="color: #B6BBC0 !important">{{totalParticipante.natural}}</span></a></li>
                <li><a style="font-size: small">Jurídicos<span class="pull-right" style="color: #B6BBC0 !important">{{totalParticipante.juridico}}</span></a></li>
                <!--<li><a style="font-size: small">Locales<span class="pull-right" style="color: #B6BBC0 !important">12</span></a></li>
                <li><a style="font-size: small">Externos<span class="pull-right" style="color: #B6BBC0 !important">6</span></a></li>-->
              </ul>
            </div>
          </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon " style="color: #ff9140; background-color: white"><i class="fa fa-mars"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{sum.cantHombres}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important"> HOMBRES EMPLEADOS</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #ff9140; background-color: white"><i class="fa fa-venus"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">{{sum.cantMujeres}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">MUJERES EMPLEADAS</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #ff9140; background-color: white"><i class="fa fa-dollar"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">${{totales.palco}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">INGRESOS POR PALCO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #ff9140; background-color: white "><i class="fa fa-dollar"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: medium; color: black !important">${{totales.calle}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">INGRESOS POR CALLE</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    
  </div>
  <!-- /.row -->
  
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div style="padding: 0px">
        <div class="box " style="border:none !important; background-color:white; font-size: small !important; ">
          <div class="box-header with-border">
            <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
            <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">INGRESOS GENERADOS</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-footer no-padding" style="background-color: white;">
            <ul class="nav nav-pills nav-stacked" style="margin-top: 0px">
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por actividad <span class="pull-right"  > ${{totalIngCos.ingresosxact}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Otros ingresos <span class="pull-right"  > ${{totalIngCos.otrosIngresos}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por hora <span class="pull-right"  > ${{totalIngCos.ingresosxhora}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por minuto <span class="pull-right"  > ${{totalIngCos.ingresosxminuto}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px;background-color: #c6c5c2d1" class="">Total <span class="pull-right"  > ${{totalIngCos.totalIngresos}}</span></a></li>
            </ul>
          </div>
          <!-- /.footer -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div style="padding: 0px">
        <div class="box " style="border:none !important; background-color:white; font-size: small !important; ">
          <div class="box-header with-border">
            <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
            <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EGRESOS </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-footer no-padding" style="background-color: white;">
            <ul class="nav nav-pills nav-stacked" style="margin-top: 0px">
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por actividad <span class="pull-right"  > ${{totalIngCos.costosxact}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Otros egresos <span class="pull-right"  > ${{totalIngCos.otrosCostos}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por hora <span class="pull-right"  > ${{totalIngCos.costosxhora}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px" class="">Por minuto <span class="pull-right"  > ${{totalIngCos.costosxminuto}}</span></a></li>
              <li><a style="font-size: x-small; overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px;background-color: #c6c5c2d1" class="">Total <span class="pull-right"  > ${{totalIngCos.totalCostos}}</span></a></li>
            </ul>
          </div>
          <!-- /.footer -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="box" style="border:none !important;">
        <div class="box-header with-border">
          <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">CONSUMO ESTIMADO</h3>
        </div>
        <!-- /.box-body -->
        <div class="box-body no-padding" style="height: 173px">
          <table class="table table-hover table-striped">
              <tbody>
              <tr>
                <td class="mailbox-name"><a style="color: #B6BBC0 !important;font-size: small"></a></td>
                <td class="mailbox-subject" style="color: #B6BBC0;font-size: small">PALCOS</td>
                <td class="mailbox-subject" style="color: #B6BBC0;font-size: small">CALLE</td>
                <td class="mailbox-date" style="color: #B6BBC0;font-size: small">TOTAL</td>
              </tr>
                
              <tr>
                <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">Bebidas</a></td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.bebidasPalco}}</td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.bebidascalle}}</td>
                <td class="mailbox-date" style="font-size: x-small">${{totalConsumo.totalBebidas}}</td>
              </tr>
              <tr>
                <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">Snacks</a></td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.snacksPalco}}</td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.snackscalle}}</td>
                <td class="mailbox-date" style="font-size: x-small">${{totalConsumo.totalSnacks}}</td>
              </tr>
              <tr>
                <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">Comidas</a></td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.comidasPalco}}</td>
                <td class="mailbox-subject" style="font-size: x-small">${{totalConsumo.comidascalle}}</td>
                <td class="mailbox-date" style="font-size: x-small">${{totalConsumo.totalComidas}}</td>
              </tr>
              
              </tbody>
            </table>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <div class="row">
   <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #38efc5; background-color: white"><i class="fa fa-recycle" style="font-size: 39px !important"></i></span>
        <div class="info-box-content">
          <span class="info-box-text" style="font-size: small; color: black !important">${{reciclado[0].total2}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ALUMINIO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #38efc5; background-color: white"><i class="fa fa-recycle" style="font-size: 39px !important"></i></span>
        <div class="info-box-content">
          <span class="info-box-text" style="font-size: small; color: black !important">${{reciclado[1].total2}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">VIDRIO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #38efc5; background-color: white"><i class="fa fa-recycle" style="font-size: 39px !important"></i></span>
        <div class="info-box-content">
          <span class="info-box-text" style="font-size: small; color: black !important">${{reciclado[2].total2}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">PLASTICO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #38efc5; background-color: white"><i class="fa fa-recycle" style="font-size: 39px !important"></i></span>
        <div class="info-box-content">
          <span class="info-box-text" style="font-size: small; color: black !important">${{reciclado[3].total2}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">CARTÓN</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-15 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon" style="color: #38efc5; background-color: white"><i class="fa fa-recycle" style="font-size: 39px !important"></i></span>
        <div class="info-box-content">
          <span class="info-box-text" style="font-size: small; color: black !important">${{reciclado[4].total2}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ORGÁNICO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <div class="box" style="border:none !important;">
        <div class="box-header with-border">
          <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">RECICLADO</h3>
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding" >
          <ul style="font-size: x-small;" class="nav nav-pills nav-stacked">
            <li><a href=""> Aluminio <span class="pull-right" style="color: #B6BBC0 !important">{{reciclado[0].kg2}} Kg </span></a></li>
            <li><a href=""> Vidrio <span class="pull-right" style="color: #B6BBC0 !important">{{reciclado[1].kg2}} Kg </span></a></li>
            <li><a href=""> Plástico <span class="pull-right" style="color: #B6BBC0 !important">{{reciclado[2].kg2}} Kg </span></a></li>
            <li><a href=""> Cartón <span class="pull-right" style="color: #B6BBC0 !important">{{reciclado[3].kg2}} Kg </span></a></li>
            <li><a href=""> Orgánico <span class="pull-right" style="color: #B6BBC0 !important">{{reciclado[4].kg2}} Kg </span></a></li>
            
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="box" style="border:none !important;">
        <div class="box-header with-border">
          <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">REDUCCION</h3>
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding" >
          <ul style="font-size: x-small;" class="nav nav-pills nav-stacked">
            <li><a href=""> Arboles <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionArboles}} Unds </span></a></li>
            <li><a href=""> Litros de Agua <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionAgua}} Lts </span></a></li>
            <li><a href=""> Litros de petróleo <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionPetro}} Lts </span></a></li>
            <li><a href=""> Kwh de electricidad <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionKwh}} Kwh </span></a></li>
            <li><a href=""> Toneladas de Co2 <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionCo2}} Tn </span></a></li>
            
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="box" style="border:none !important;">
        <div class="box-header with-border">
          <i class="fa fa-angle-right" style="color: #00EAB5 "></i>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">REUTILIZACION</h3>
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding" style="height: 186px" >
          <ul style="font-size: x-small;" class="nav nav-pills nav-stacked">
            <li><a href=""> Gas Natural M3 <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionNatural}} m<sup>2</sup></span></a>
            </li>
            <li><a href=""> Bio Gas M3 <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionGas}} m<sup>2</sup></span></a>
            </li>
            <li><a href=""> Bio Etanol <span class="pull-right" style="color: #B6BBC0 !important">{{impacto.reduccionBio}} m<sup>2</sup></span></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">REUTILIZACION</h3> 
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
                <img src="imagenes/ecologia/eco.png" style="width: 100%">
                 <p style="text-align: center; color: gray">Reciclados <span style="color: #00eab5">{{reciclado[2].cantidad}} = {{reciclado[2].camisa}}</span> Chaquetas</p>
                 
            </div>
            <div class="col-md-3">
                <img src="imagenes/ecologia/marco.png" style="width: 100%">
                <p style="text-align: center; color: gray">Reciclados <span style="color: #00eab5">{{reciclado[2].kg2}}kg = {{reciclado[2].marco}}</span> Marcos</p> 
                
            </div>
            <div class="col-md-3">
                <img src="imagenes/ecologia/llanta.png" style="width: 100%; padding-top: 3% ">
                <p style="text-align: center; color: gray">Reciclados <span style="color: #00eab5">{{reciclado[0].cantidad}} = {{reciclado[0].llanta}}</span> Rines</p>  
                
            </div>
            <div class="col-md-3">
                <img src="imagenes/ecologia/silla.png" style="width: 100%; padding-top: 3% ">
                <p style="text-align: center; color: gray">Reciclados <span style="color: #00eab5">{{reciclado[0].cantidad}} = {{reciclado[0].silla}}</span> Sillas</p>  
                
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

</section>

<section class="content" ng-show="ver" ng-if="user.tipo==5">
  <div class="row">
    <div class="col-md-3 col-xs-3">
      <div class="small-box bg-caja">
        <div class="inner linea1">
          <h2 class="numero1">${{subIngreso2}}</h2>

          <p class="text1">Ingresos</p>
        </div>
        <div class="icon icon1">
          <i class="fa fa-arrow-up"></i>
        </div>
        
      </div> 
    </div>
    <div class="col-md-3 col-xs-3">
      <div class="small-box bg-caja">
        <div class="inner linea2">
          <h2 class="numero2">${{subCosto2}}</h2>
          <p class="text2">Egresos</p>
        </div>
        <div class="icon icon2">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-3">
      <div class="small-box bg-caja">
        <div class="inner linea3">
          <h2 class="numero3">{{totaljunta}}</h2>

          <p class="text3">Organizadores</p>
        </div>
        <div class="icon icon3">
          <i class="fa fa-group"></i>
        </div>
      </div>  
    </div>
    <div class="col-md-3 col-xs-3">
      <!-- small box -->
      <div class="small-box bg-caja">
        <div class="inner linea4">
          <h2 class="numero4">5</h2>

          <p class="text4">Valoración</p>
        </div>
        <div class="icon icon4">
          <i class="fa fa-star "></i>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12" >
    <div class="box" style="border-top:white !important; ">
        <div class="box-header">
          <h3 class="box-title" style="font-weight: 100 ! important; ">
            Mapa de Actividades 
          </h3>
        </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
      <div class="row">
        <div class="col-md-12 col-sm-8" style="padding-right: 0px !important; ">
          <div class="pad">
            <!-- Map will be created here -->
            <div style="width: 97% !important; height: 375px !important" id="map2"></div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.box-body -->
  </div>

  </div>
    <div class="col-md-6 col-xs-12" style="padding-left: 0px">
      <div class="box" style="background-color: #fafafb;border: none !important; height: 450px !important">
        <div class="box-header with-border">
          <h3 class="box-title">Resumen</h3>
           <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12" >
              <div class="cuadro1" style=" height: 180px; ">
                <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                  <i style="font-size:larger" class="fa fa-clock-o"></i>
                </h3>
                <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.horas}} Horas</h3>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12">
              <div class="cuadro2" style="height: 180px; ">
                 <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                  <i style="font-size:larger" class="fa fa-users"></i>
                </h3>
                <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white"> {{totalActividades.empleo}} Empleos</h3>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12">
              <div class="cuadro3" style=" height: 180px;">
                  <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                  <i style="font-size:larger" class="fa fa-line-chart"></i>
                </h3>
                <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.cantidad+totalActividades.cantidadSub}} Actividades</h3>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 ">
              <div class="cuadro4" style="height: 180px; ">
                 <h3 class="text-center" style="font-size:-webkit-xxx-large; color:white; margin: 0px;  padding-top: 15%">
                  <i style="font-size:larger" class="fa fa-area-chart"></i>
                </h3>
                <h3 class="text-center" style="font-size:x-large; margin: 0px; color:white">{{totalActividades.aforo}} Aforo</h3>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div><!--ROW-->
  </div>

  <div class="row">
    <h3 style="padding-left:1% ; margin-top: 0px">Reciclar</h3>
    <div class="col-md-15 col-xs-15" ng-repeat="r in reciclado">
      <div class="box"  style="background-color: #fafafb;border:none !important;">
        <div class="box-header with-border">
          <h3 class="box-title"> <i class="fa fa-recycle" style="color: green"></i> {{r.material}} </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <ul class="nav nav-pills nav-stacked"  style=" margin-top: 0px">
              <li style="font-size: small;"><a>Kg Reciclados
                <span class="pull-right"><span style="color: #9c3842; font-size: medium;" >{{r.kg2}}Kg</span></span></a></li>
              <li style="font-size: small;"><a >Valor por Kg <span class="pull-right"><span style="color:#9c3842; font-size: medium;">${{r.valor2}}</span></span></a>
              </li>
              <li style="font-size: small;"><a >Total <span class="pull-right"><span  style="font-size: medium; color:green">${{r.total2}}</span></span></a>
              </li>
            </ul>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>

  <div class="row">
      <h3 style="padding-left:1% ; margin-top: 0px">Reutilización</h3>
      <div class="col-md-3 col-xs-6" >
        <div class="box"  style="background-color: #fafafb;border:none !important;">
          <div class="box-header with-border">
            <h3 class="box-title"> <i class="fa fa-recycle" style="color: green"></i> Plástico PET </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img src="imagenes/ecologia/eco.png" style="width: 100%">
            <p style="text-align: center;">Reciclados <span style="color: #469730">{{reciclado[2].cantidad}} = {{reciclado[2].camisa}}</span> Chaquetas</p>             
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>


      <div class="col-md-3 col-xs-6" >
        <div class="box"  style="background-color: #fafafb;border:none !important;">
          <div class="box-header with-border">
            <h3 class="box-title"> <i class="fa fa-recycle" style="color: green"></i> Plástico PET </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img src="imagenes/ecologia/marco.png" style="width: 100%">
            <p style="text-align: center;">Reciclados <span style="color: #469730">{{reciclado[2].kg2}}kg = {{reciclado[2].marco}}</span> Marcos</p>             
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

      <div class="col-md-3 col-xs-6" >
        <div class="box"  style="background-color: #fafafb;border:none !important;">
          <div class="box-header with-border">
            <h3 class="box-title"> <i class="fa fa-recycle" style="color: green"></i> Aluminio</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <img src="imagenes/ecologia/llanta.png" style="width: 100%">
            <p style="text-align: center;">Reciclados <span style="color: #469730">{{reciclado[0].cantidad}} = {{reciclado[0].llanta}}</span> Rines</p>         
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>

      <div class="col-md-3 col-xs-6" >
        <div class="box"  style="background-color: #fafafb;border:none !important;">
          <div class="box-header with-border">
            <h3 class="box-title"> <i class="fa fa-recycle" style="color: green"></i> Orgánico </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <ul class="nav nav-pills nav-stacked"  style=" margin-top: 0px; ">
                <li style="font-size: small;"><a >Compostaje <span class="pull-right"><span style="color:#9c3842; font-size: small;">{{organico.compostaje}}</span></span></a>
                </li>
                <li style="font-size: small;"><a>Gas Natural M3<span class="pull-right"><span  style="font-size: small; color:green">{{organico.natural}}</span></span></a>
                </li>
                <li style="font-size: small;"><a>Bio Gas M3<span class="pull-right"><span  style="font-size: small; color:green">{{organico.gas}}</span></span></a>
                </li>
                <li style="font-size: small;"><a>Bio Etanol<span class="pull-right"><span  style="font-size: small; color:green">{{organico.bio}}</span></span></a>
                </li>
              </ul>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
    
</section>