<section class="content-header">
      <h1 style="color: #ecf0f5">
        I
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#/evento">Evento</a></li>
        <li><a href="#/detalle">Detalle del evento</a></li>
        <li><a href="#/actividad">Actividades</a></li>
      </ol>
</section>
<section ng-show="!ver" class="content">
  <div id="cargando" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: white url(https://camo.githubusercontent.com/c42feb9a8f376b4cea25daa05378ffc793ae2da4/687474703a2f2f692e696d6775722e636f6d2f4453487a6e73472e676966) no-repeat center center">
  
  </div>
</section>
<!-- Main content -->
<section ng-show="ver" class="content">
  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-calendar-check-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{actividades.length}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">TOTAL ACTIVIDADES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-calendar-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{total.cantidadSub}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">SUB-ACTIVIDADES</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-hourglass-end"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{total.horas}}H</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">ENTRETENIMIENTO</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon iconosPrincipal"><i class="fa fa-suitcase"></i></span>

        <div class="info-box-content">
          <span class="info-box-text" style="font-size: large; color: black !important">{{total.empleo}}</span>
          <span class="info-box-number" style="font-size: small; color: #B6BBC0 !important">EMPLEOS</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="box " style="border:none !important;">
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">TODAS LAS ACTIVIDADES</h3>
          <div class="box-tools pull-right">
            <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="limpiarForm()" data-toggle="modal" data-target="#myModal" >NUEVA ACTIVIDAD</button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding ">
          <p ng-if="!actividades[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No se ha registrado ninguna Actividad</p>
          <div class="table mailbox-messages " ng-if="actividades[0]">
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">RESPONSABLE</th>
                  <th style="font-size: small; color: #B6BBC0 !important;"></th>
                </tr>
                <tr ng-repeat="actividad in actividades">
                  <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{actividad.nombre}}</a></td>
                  <td class="mailbox-subject" style="font-size: small" >{{actividad.responsable}}
                  </td>
                  <td>            
                    <div class="btn-group">
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="seleccionarAct(actividad)" data-toggle="modal" data-target="#myModal2" ><i class="fa fa-plus"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="buscarAsociar(actividad)" data-toggle="modal" data-target="#myModal8"><i class="fa fa-th"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="editarAct(actividad)" data-toggle="modal" data-target="#myModal3"><i class="fa fa-edit"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal6" ng-click="seleccionarActividad(actividad.idActividad)"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div class="mailbox-controls">
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
    <div class="col-md-6 col-xs-12">
      <div class="box" style="background-color: #fafafb;border:none !important;">
        <div class="box-body">
          <!-- THE CALENDAR -->
          <div id="calendar"></div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
  </div>
</section>
<!-- Modal de insertar evento-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">NUEVA ACTIVIDAD</h3></center>
      </div>
      <form name="formActividad">
      <div class="modal-body">
        <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
          <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA ACTIVIDAD</h3>  
        </div><br>
        <div class="row" style="font-size: smaller">

                <div class="col-md-3 col-xs-12 col-lg-3">
                    <label style="font-weight: 300;">Nombre:</label>
                    <input ng-model="actividad.nombre" type="text" class="form-control" style="border-radius: 9px" >
                </div>
                <div class="col-md-3 col-xs-12 col-lg-3">
                    <label style="font-weight: 300;">Responsable:</label>
                    <input ng-model="actividad.responsable" type="text" class="form-control" style="border-radius: 9px" >
                </div>
                <div class="col-md-3 col-xs-12 col-lg-3" >
                  <label style="font-weight: 300;">Modalidad:</label>
                  <select style="border-radius: 9px" class="form-control pageList" name="modalidad" ng-model="actividad.modalidad" required>
                      <option ng-repeat="modalidad in modalidadEvento" ng-selected ="actividad.modalidad == modalidadSelect" value="{{modalidad.id}}">{{modalidad.name}}</option>
                  </select>
                </div>
                <div style="margin-top: 3%;" class="col-md-3 col-xs-12 col-lg-3">
                  <div class="form-group">
                    <label>
                      <input style="border-radius: 9px" type="checkbox" id="lugarCheck" class="minimal" ng-change="traeCheck(1)" ng-model="lugar" >
                    </label>
                    <label style="color: #B6BBC0;font-weight: 300;">
                      ¿Misma localidad?
                    </label>
                  </div>
                 
                </div>
          </div>
          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">POBLACIÓN</h3>  
          </div><br>
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Cantidad de Empleos:</label>
                <input style="border-radius: 9px" ng-model="actividad.empleo" type="number" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Cantidad de Hombres:</label>
                <input style="border-radius: 9px" ng-model="actividad.cantHombres" type="number" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Cantidad de Mujeres:</label>
                <input style="border-radius: 9px" ng-model="actividad.cantMujeres" type="number" class="form-control" >
            </div>
          </div>
            
          <div ng-if="swichPalco" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA DIRECCIÓN</h3>  
          </div><br ng-if="swichPalco">      
          <div class="row" ng-if="swichPalco" style="font-size: smaller">
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Dirección:</label>
                  <input style="border-radius: 9px" ng-model="actividad.direccion" id="myDate" type="text"  class="form-control" >
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Fecha y hora de inicio:</label>
                  <input style="border-radius: 9px" ng-model="actividad.fechaInicio" id="myDate1" type="datetime-local"  class="form-control" >
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Fecha y hora de finalización:</label>
                  <input style="border-radius: 9px" ng-model="actividad.fechaFin" id="myDate2" type="datetime-local"  class="form-control" >
              </div>
          </div><br ng-if="swichPalco">

          <div ng-if="swichPalco" class="row" ng-init="initMap()">
          
            <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="deleteMarkers();" >ELIMINAR MARKER</button>
            <div style="width: 100% !important;" id="map2"></div>
          </div><br ng-if="swichPalco">
          <div ng-if="swichPalco" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LOS PALCOS</h3>  
          </div><br ng-if="swichPalco">      
          <div ng-if="swichPalco">
            <div class="row">
              <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="nuevoPalcoActividad()" >NUEVO PALCO</button>
            </div>
            <div ng-repeat="palco in palcoActividad" class="row" style="font-size: smaller">
                
                  <div class="col-md-4 col-xs-12 col-lg-4">
                    <label style="font-weight: 300;">Detalle:</label>
                    <input style="border-radius: 9px" ng-model="palco.detalle" type="text" class="form-control" placeholder="">
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Capacidad:</label>
                      <input style="border-radius: 9px" ng-model="palco.capacidad" id="" type="number" class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Costo Unitario:</label>
                      <input style="border-radius: 9px" ng-model="palco.cu" id="" type="number" class="form-control" >
                  </div>
              
            </div>
            
          </div>       
      </div>

      <div class="modal-footer" style="margin: 0; padding-bottom: 0; padding-top: 0">
        <button ng-disabled="formActividad.$invalid" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-click="guardar();limpiarForm()">GUARDAR</button>
      </div>
     </form>    
    </div>
  </div>
</div>

<!--MODAL SUB ACTIVIDADES-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-md" role="document" >
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0">
       <button ng-click="cerrar()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">SUB-ACTIVIDADES DE  {{actSeleccionada.nombre}}</h3></center>
      </div>
      <div class="modal-body" style="background-color:rgb(255, 255, 255) !important; color: black !important;">
        <div ng-if="swichsub">
          

          <form name="formJunta">
              <div  style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA ACTIVIDAD</h3>  
              </div><br>      
              
              <div class="row" style="font-size: smaller">
                        
                <div class="col-md-4 col-xs-12 col-lg-4">
                    <label style="font-weight: 300;">Nombre:</label>
                    <input style="border-radius: 9px" id="nombre" ng-model="sub.nombre" type="text" class="form-control" placeholder="">
                </div>
                <div class="col-md-4 col-xs-12 col-lg-4">
                    <label style="font-weight: 300;">N° Presentaciones:</label>
                    <input style="border-radius: 9px" id="apellido" ng-model="sub.cantidad" type="number" class="form-control" placeholder="">
                </div>

                <div class="col-md-4 col-xs-12 col-lg-4" >
                  <label style="font-weight: 300;">Tipo:</label>
                    <select style="border-radius: 9px" class="form-control pageList" name="tipo" ng-model="sub.tipo" required>
                        <option ng-repeat="tipo in tipoEvento" ng-selected ="sub.tipo == tipoeventoSelect" value="{{tipo.id}}">{{tipo.name}}</option>
                    </select>
              <!-- <select class="form-control" ng-model="sub.tipo">
                    <option value="0">Encuentros y Espectáculos Deportivos</option>
                    <option value="1">Eventos Religiosos</option>
                    <option value="2">Congregaciones Políticas</option>
                    <option value="3">Conciertos y Presentaciones Musicales</option>
                    <option value="4">Ferias, Festivales, Rodeos y Corralejas</option>
                    <option value="10">Concursos</option>
                    <option value="5">Congresos, Simposios, Seminarios o similares</option>
                    <option value="6">Teatro</option>
                    <option value="7">Exhibiciones (Desfiles de Modas, Exposiciones, etc.)</option>
                    <option value="8">Atracciones y Entretenimiento (Parques de Atracciones, Ciudades de Hierro, Circos, etc.)</option>
                    <option value="9">Otros (Marchas, Ventas, etc.)</option>
                  </select>-->
                </div>
              </div><br>
              <div class="row" style="font-size: smaller">
                <div class="col-md-4 col-xs-12 col-lg-4" >
                  <label style="font-weight: 300;">Modalidad:</label>
                  <select style="border-radius: 9px" class="form-control pageList" name="modalidad" ng-model="sub.modalidad" required>
                      <option ng-repeat="modalidad in modalidadEvento" ng-selected ="sub.modalidad == modalidadSelect" value="{{modalidad.id}}">{{modalidad.name}}</option>
                  </select>
                </div>
                <div class="col-md-4 col-xs-12 col-lg-4" >
                  <label style="font-weight: 300;">Tipo de Participante:</label>
                  <select style="border-radius: 9px" class="form-control pageList" name="tipo participante" ng-model="sub.tipoPoblacion" required>
                      <option ng-repeat="participante in participanteEvento" ng-selected ="sub.tipoPoblacion == participanteeventoSelect" value="{{participante.id}}">{{participante.name}}</option>
                  </select>
                </div>
                
              </div>
              <div ng-if="actSeleccionada.lugar==0" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA DIRECCIÓN</h3>  
              </div><br>
              

                <br ng-if="actSeleccionada.lugar==0" >
                <div class="row" ng-if="actSeleccionada.lugar==0&&!subEditar" style="font-size: smaller">
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Dirección:</label>
                      <input style="border-radius: 9px" ng-model="sub.direccion" id="myDate" type="text"  class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Fecha y hora de inicio:</label>
                      <input style="border-radius: 9px" ng-model="sub.fechaInicio" id="myDate3" type="datetime-local"  class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Fecha y hora de finalización:</label>
                      <input style="border-radius: 9px" ng-model="sub.fechaFin" id="myDate4" type="datetime-local"  class="form-control" >
                  </div>
                </div>
                <div ng-if="subEditar&&actSeleccionada.lugar==0" class="row" style="font-size: smaller">
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Dirección:</label>
                      <input style="border-radius: 9px" ng-model="sub.direccion.direccion" id="myDate" type="text"  class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Fecha y hora de inicio:</label>
                      <input style="border-radius: 9px" ng-model="sub.direccion.fechaInicio" id="myDate3" type="datetime-local"  class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Fecha y hora de finalización:</label>
                      <input style="border-radius: 9px" ng-model="sub.direccion.fechaFin" id="myDate4" type="datetime-local"  class="form-control" >
                  </div>
                </div><br>
                <div ng-if="actSeleccionada.lugar==0&&!subEditar" class="row" ng-init="initMap()">
                  <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="deleteMarkers();" >ELIMINAR MARKER</button>
                  <div style="width: 100% !important;" id="map2"></div>
                </div>
                <div ng-if="actSeleccionada.lugar==0" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
                  <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LOS PALCOS</h3>  
                </div><br>
                
                <div ng-if="actSeleccionada.lugar==0">
                  <div class="row">
                    <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="nuevoPalcoActividadAct()">NUEVO PALCO</button>
                  </div>
                  <div ng-repeat="palco in palcoActividadAct" class="row" style="font-size: smaller">
                      
                        <div class="col-md-4 col-xs-12 col-lg-4">
                          <label style="font-weight: 300;">Detalle:</label>
                          <input style="border-radius: 9px" ng-model="palco.detalle" type="text" class="form-control" placeholder="Palco VIP">
                        </div>
                        <div class="col-md-4 col-xs-12 col-lg-4">
                            <label style="font-weight: 300;">Capacidad:</label>
                            <input style="border-radius: 9px" ng-model="palco.capacidad" id="" type="number" class="form-control" >
                        </div>
                        <div class="col-md-4 col-xs-12 col-lg-4">
                            <label style="font-weight: 300;">Costo Unitario:</label>
                            <input style="border-radius: 9px" ng-model="palco.cu" id="" type="number" class="form-control" >
                        </div>
                    
                  </div>
                  <br ng-if="palcoActividadAct">
                  <div ng-repeat="palco in sub.palco" class="row" style="font-size: smaller">
                      
                        <div class="col-md-3 col-xs-3 col-lg-3">
                          <label style="font-weight: 300;">Detalle:</label>
                          <input style="border-radius: 9px" ng-model="palco.detalle" type="text" class="form-control" placeholder="Palco VIP">
                        </div>
                        <div class="col-md-3 col-xs-3 col-lg-3">
                            <label style="font-weight: 300;">Capacidad:</label>
                            <input style="border-radius: 9px" ng-model="palco.capacidad" id="" type="number" class="form-control" >
                        </div>
                        <div class="col-md-3 col-xs-12 col-lg-3">
                            <label style="font-weight: 300;">Costo Unitario:</label>
                            <input style="border-radius: 9px" ng-model="palco.costo" id="" type="number" class="form-control" >
                        </div>
                        <div style="padding-top: 3%;padding-left: 0;" class="col-md-3 col-xs-3 col-lg-3">
                          <button ng-click="eliminarPalcoSub(palco.idPalco, $index)" type="button" class="btn btn-default btn-sm">
                              <span class="fa fa-trash-o"></span>
                          </button>
                        </div>
                        <br>
                  </div>
                  
                </div>
          </form>
        </div>
        <div ng-if="!swichsub">

          
          <button  class="btn btn-lg buttonLogin " style="float: right; text-align: center ;  font-size: 10px ;"  ng-click="nuevaAct()" >NUEVA SUB ACTIVIDAD</button>
          <br>
          <p ng-if="!subActividades[0]"style="font-size: small; color: #B6BBC0 !important;text-align: center" >No se ha registrado sub actividades</p>
          
          <table ng-if="subActividades[0]" class="table table-hover table-striped">
            <tbody>
            <tr>
              <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
              <th style="font-size: small; color: #B6BBC0 !important;">TIPO</th>
              <th style="font-size: small; color: #B6BBC0 !important;">N° PRESENTACIONES</th>
              <th style="font-size: small; color: #B6BBC0 !important;"></th>
              
            </tr>
              
            <tr ng-repeat="actividad in subActividades | filter: filtro">
              <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{actividad.nombre}}</a></td>
              <td class="mailbox-subject" style="font-size: small">
                <span ng-if="actividad.tipoPoblacion ==0">Natural</span>
                <span ng-if="actividad.tipoPoblacion ==1">Juridico</span>
                <span ng-if="actividad.tipoPoblacion ==2">Grupos Artisticos</span>
              </td>
              <td style="font-size: small">{{actividad.cantidad}}</td>
              <td>            
                <div class="btn-group">
                  <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="editarSub(actividad);"><i class="fa fa-edit"></i></button>
                  <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal7" ng-click="seleccionarSub(actividad.idEventoActividad , $index)"><i class="fa fa-trash-o"></i></button>
                </div>
              </td>
            </tr>
            
            </tbody>
          </table>
          <!-- /.table -->
          
        </div>
        <!-- /.box -->
      </div>
      <div class="modal-footer" style="margin: 0">
          <button ng-if="swichsub" class="btn btn-lg pull-left buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="nuevaAct()">VOLVER</button>
          <button ng-if="swichsub&&!subEditar" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-click="guardarSub()">GUARDAR</button>
          <button ng-if="swichsub&&subEditar" class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="updateSub()">ACTULIZAR</button>
      </div>
    </div>
  </div>
</div>
<!-- editar la actividad-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EDITAR ACTIVIDAD</h3></center>
      </div>
      <form name="formActividad">
        <div class="modal-body">
          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA ACTIVIDAD</h3>  
          </div><br>
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
              <label style="font-weight: 300;">Nombre:</label>
              <input style="border-radius: 9px" ng-model="actividad.nombre" type="text" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
              <label style="font-weight: 300;">Responsable:</label>
              <input style="border-radius: 9px" ng-model="actividad.responsable" type="text" class="form-control" >
            </div>          
          </div><br>
          <div style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important"> DATOS DE LA POBLACIÓN</h3>  
          </div><br>
          <br>
          <div class="row">
            <div class="col-md-4 col-xs-12 col-lg-4">
              <label style="font-weight: 300;">Cantidad de Empleos:</label>
              <input style="border-radius: 9px" ng-model="actividad.empleo" type="number" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
              <label style="font-weight: 300;">Cantidad de Hombres:</label>
              <input style="border-radius: 9px" ng-model="actividad.cantHombres" type="number" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
              <label style="font-weight: 300;">Cantidad de Mujeres:</label>
              <input style="border-radius: 9px" ng-model="actividad.cantMujeres" type="number" class="form-control" >
            </div>
         </div>
         <br>
          <div ng-if="actividad.direccion" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA DIRECCIÓN</h3>  
          </div><br>
            <br ng-if="actividad.direccion">
          <div class="row" ng-if="actividad.direccion" style="font-size: smaller">
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Dirección:</label>
                  <input style="border-radius: 9px" ng-model="actividad.direccion[0].direccion" id="myDate" type="text"  class="form-control" >
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Fecha y hora de inicio:</label>
                  <input style="border-radius: 9px" ng-model="actividad.direccion[0].fechaInicio" id="myDate1U" type="datetime-local"  class="form-control" >
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Fecha y hora de finalización:</label>
                  <input style="border-radius: 9px" ng-model="actividad.direccion[0].fechaFin" id="myDate2U" type="datetime-local"  class="form-control" >
              </div>
          </div><br ng-if="actividad.direccion">
          <div ng-if="actividad.direccion" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LOS PALCOS</h3>  
          </div><br>
          <div ng-if="actividad.palco">
            <div class="row">
              <button  class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;"  ng-click="nuevoPalcoActividadAct()" >NUEVO PALCO
              </button>
            </div>
            <div ng-repeat="palco in palcoActividadAct" class="row" style="font-size: smaller">
                
                  <div class="col-md-4 col-xs-12 col-lg-4">
                    <label style="font-weight: 300;">Detalle:</label>
                    <input style="border-radius: 9px" ng-model="palco.detalle" type="text" class="form-control" placeholder="">
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Capacidad:</label>
                      <input style="border-radius: 9px" ng-model="palco.capacidad" id="" type="number" class="form-control" >
                  </div>
                  <div class="col-md-4 col-xs-12 col-lg-4">
                      <label style="font-weight: 300;">Costo Unitario:</label>
                      <input style="border-radius: 9px" ng-model="palco.cu" id="" type="number" class="form-control" >
                  </div>
            </div>
            <br ng-if="palcoActividadAct">
            <div ng-repeat="palco in actividad.palco" class="row" style="font-size: smaller">
                
                  <div class="col-md-3 col-xs-3 col-lg-3">
                    <label style="font-weight: 300;">Detalle:</label>
                    <input style="border-radius: 9px" ng-model="palco.detalle" type="text" class="form-control" placeholder="">
                  </div>
                  <div class="col-md-3 col-xs-3 col-lg-3">
                      <label style="font-weight: 300;">Capacidad:</label>
                      <input style="border-radius: 9px" ng-model="palco.capacidad" id="" type="number" class="form-control" >
                  </div>
                  <div class="col-md-3 col-xs-12 col-lg-3">
                      <label style="font-weight: 300;">Costo Unitario:</label>
                      <input style="border-radius: 9px" ng-model="palco.costo" id="" type="number" class="form-control" >
                  </div>
                  <div style="padding-top: 3%;padding-left: 0;" class="col-md-3 col-xs-3 col-lg-3">
                    <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="eliminarPalco(palco.idPalco, $index)" ><i class="fa fa-trash-o"></i></button>
                  </div>
                  <br>
            </div>
          </div><br ng-if="actividad.premio==1">
          <div ng-if="actividad.premio == 1" style="margin-left: 1px;margin-right: 1px;border-bottom: #B6BBC0 solid 1px;" class="row">
            <h3 style=" margin-bottom: 1%;margin-left: 1%;font-size: small; color: #B6BBC0 !important">DATOS DE LA PREMIACIÓN</h3>  
          </div><br>
          <div ng-if="actividad.premio == 1">
            <div ng-repeat="premioD in actividad.premioD" class="row" style="font-size: smaller">
                  <div class="col-md-4 col-xs-4 col-lg-4">
                    <label style="font-weight: 300;">Detalle:</label>
                    <input style="border-radius: 9px" ng-model="premioD.detalle" type="text" class="form-control" placeholder="Primer lugar">
                  </div>
                  <div class="col-md-4 col-xs-4 col-lg-4">
                      <label style="font-weight: 300;">costo:</label>
                      <input style="border-radius: 9px" ng-model="premioD.costo" id="" type="number" class="form-control" >
                  </div>
                  <div style="padding-top: 3%;padding-left: 0;" class="col-md-4 col-xs-4 col-lg-4">
                    <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="eliminarPremio(premioD.idPremio, $index)"><i class="fa fa-trash-o"></i></button>
                  </div><br>
            </div>
          </div>       
        </div>
      <div class="modal-footer" style="margin: 0">
        <button ng-disabled="formActividad.$invalid"  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;" data-dismiss="modal" ng-click="actualizarAct()" >ACTUALIZAR</button>
      </div>
     </form>    
    </div>
  </div>
</div>

<div class="modal fade" id="myModal6" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 15px">
        <div class="box" style="border: none; box-shadow: none;">             
          <div class="icon">
           <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
              <p>
                ¿Está seguro de que desea eliminar la actividad?
              </p>
            <br> <br>
             <button  type="button" class="btn pull-left buttonModal" ng-click="atras()" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn pull-right buttonModal" data-dismiss="modal" ng-click="eliminarAct()">Aceptar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal7" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body" style="padding-top: 15px">
        <div class="box" style="border: none; box-shadow: none;">             
          <div class="icon">
            <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
              <p>
                ¿Está seguro de que desea eliminar la actividad?
              </p>
            <br> <br>
             <button  type="button" class="btn pull-left buttonModal" ng-click="atras()" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn pull-right buttonModal " data-dismiss="modal" ng-click="eliminarSub()">Aceptar</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- MODAl DE ASOCIAR USUARIOS-->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <button ng-click="limpiarAsociar()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important" ng-if="buttonNuevo == 0 ">ASOCIADOS</h3>
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important" ng-if="buttonNuevo == 1">POR ASOCIAR</h3>
        </center>
      </div>
      <div class="modal-body" style="background-color:rgb(255, 255, 255) !important; color: black !important;padding-top: 0px">
        <div  class="row" >
          <br>
          <div class="box-body" style="color: black; padding-top: 0px" >
            <div class="row">
              <div class="col-md-4" >
                <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="nuevoAsociar(); funcionAtras()" ng-if=" buttonNuevo == 0" >NUEVA ASOCIACIÓN</button> 
                <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-click="funcionAtras()" ng-if="buttonNuevo == 1" >VOLVER</button> 
              
              </div>
              <div class="col-md-8">
                <div class="col-md-5"  style="padding-right: 0px">
                  <label  style="font-size: small;font-weight: 300;"> Seleccione el tipo de Usuario:</label>  
                </div>
                <div class="col-md-7"  style="padding-left: 0px">
                  <select  style="border-radius: 9px" class="form-control" name="tipo usuario" ng-model="tipousuario" ng-change="cambiarUsuarios(tipousuario)">
                    <option ng-repeat="tipo in tipoUsuario" ng-selected ="tipo.id == tipousuarioSelect" value="{{tipo.id}}">{{tipo.name}}</option>
                  </select>
                </div>
              </div>
              <br><br>
              <div class="col-md-12 table mailbox-messages table-responsive">
                <p ng-if="tipousuarioSelect == 0 && !participantes[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No hay participantes asociados</p>
                <p ng-if="tipousuarioSelect == 1 && !empresas[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No hay empresas asociadas</p>
                <p ng-if="tipousuarioSelect == 2 && !agrupaciones[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No hay agrupaciones asociadas</p>
                
                <table ng-if="buttonNuevo == 0" class="table table-hover table-striped" style="font-size: small">
                  <tr>
                    <th style="font-size: small; color: #B6BBC0 !important;">IDENTIFICACIÓN</th>
                    <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                    <th style="font-size: small; color: #B6BBC0 !important;">TELÉFONO</th>
                    <th style="font-size: small; color: #B6BBC0 !important;"></th>
                  </tr>
                  <tr>
                  </tr>
                  <tr ng-repeat="a in participantes" ng-if="tipousuarioSelect == 0 && participantes[0]">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.cedula}}</a></td>
                    <td class="mailbox-subject" style="font-size: small">{{a.nombre}}
                    </td>
                    <td class="mailbox-subject" style="font-size: small">{{a.telefono}}</td>
                    <td>
                     <!--  <button type="button" class="btn btn-default btn-sm" ng-click="desAsociar(a , $index)"  title="Eliminar Asociación" ><i class="fa fa-trash-o"></i></button>-->
                    <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="desAsociar(a , $index)" ><i class="fa fa-trash-o"></i></button>

                    </td>
                  </tr>

                  <tr ng-repeat="a in empresas" ng-if="tipousuarioSelect == 1">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.nit}}</a></td>
                    <td class="mailbox-subject"  style="font-size: small">{{a.nombre}}
                    </td>
                     <td class="mailbox-subject" style="font-size: small">{{a.telefono1}}</td>
                    <td>
                    <!--  <button type="button" class="btn btn-default btn-sm" ng-click="desAsociar(a , $index)"  title="Eliminar Asociación" ><i class="fa fa-trash-o"></i></button>-->

                     <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="desAsociar(a , $index)" ><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                  <tr  ng-repeat="a in agrupaciones" ng-if="tipousuarioSelect == 2">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.nit}}</a></td>
                    <td class="mailbox-subject"  style="font-size: small">{{a.nombre}}
                    </td>
                    <td class="mailbox-subject" style="font-size: small">{{a.telefono}}</td>
                   <td>
                     <!-- <button type="button" class="btn btn-default btn-sm" ng-click="desAsociar(a , $index)"  title="Eliminar Asociación" ><i class="fa fa-trash-o"></i></button>-->
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="desAsociar(a , $index)" ><i class="fa fa-trash-o"></i></button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        <!--  <div class="box" ng-if=" buttonNuevo == 1 && !nuevo[0]" style="border: 0">  <div class="icon">
                <div class="image"><i class="ion ion-sad-outline"></i></div>
                <div class="info">
                  <h3 class="title">OPS!</h3>
                  <p>
                    No hay más
                    <span ng-if="actividadSelect.tipoPoblacion == 0"> Participantes</span>
                    <span ng-if="actividadSelect.tipoPoblacion == 1"> Empresas</span>
                    <span ng-if="actividadSelect.tipoPoblacion == 2"> Agrupaciones</span> por asociar.
                  </p>
                </div>
              </div>
            </div>-->
              <table ng-if="buttonNuevo == 1" class="table table-hover table-striped">
                <tr>
                    <th style="font-size: small; color: #B6BBC0 !important;">IDENTIFICACIÓN</th>
                    <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                    <th style="font-size: small; color: #B6BBC0 !important;">TELÉFONO</th>
                    <th style="font-size: small; color: #B6BBC0 !important;"></th>
                </tr>
                <tr ng-repeat="a in participantesN" ng-if="tipousuarioSelect == 0 && participantesN[0]">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.cedula}}</a></td>
                    <td class="mailbox-subject" style="font-size: small">{{a.nombre}}
                    </td>
                    <td class="mailbox-subject" style="font-size: small">{{a.telefono}}</td>
                   <td>
                    <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="Asociar(a)" ><i class="fa fa-plus"></i></button>
                    </td>
                  </tr>
                  <tr ng-repeat="a in empresasN" ng-if="tipousuarioSelect == 1 && empresasN[0]">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.nit}}</a></td>
                    <td class="mailbox-subject" style="font-size: small">{{a.nombre}}</td>
                    <td class="mailbox-subject" style="font-size: small">{{a.telefono1}}</td>
                    <td>
                   <!--   <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="Asociar(a)" ><i class="fa fa-plus"></i></button>-->
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="Asociar(a)" ><i class="fa fa-plus"></i></button>
                    </td>
                  </tr>
                  <tr ng-repeat="a in agrupacionesN" ng-if="tipousuarioSelect == 2 && agrupacionesN[0]">
                    <td class="mailbox-name"><a style="color: #00a3ee !important;font-size: small">{{a.nit}}</a></td>
                    <td class="mailbox-subject" style="font-size: small">{{a.nombre}}</td>
                    <td class="mailbox-subject" style="font-size: small">{{a.telefono}}</td>
                    <td>
                    <!--  <button type="button" class="btn btn-default btn-sm" ng-click="Asociar(a)"  title="Asociar" ><i class="fa fa-plus"></i></button>-->
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="Asociar(a)" ><i class="fa fa-plus"></i></button>
                    </td>
                  </tr>
                </table>
              </div>
            <div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal5" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-body">
        <div class="box" style="border-top: none; box-shadow: none;">             
          <div class="icon">
            <div class="image"><i style="color: #00a3ee ! important" class="ion ion-happy-outline"></i></div>
            <div class="info">
              <h3 class="title" style="font-size: small ; margin-top: 10%">ÉXITO!</h3>
              <p>
                Se ha realizado correctamente.
              </p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>