<section class="content-header">
      <h1 style="color: #ecf0f5">
        I
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Tablero</a></li>
        <li><a href="#/eventos">Eventos</a></li>
        <li><a href="#/detalle">Detalles del evento</a></li>
        <li><a href="#/presupuesto">Presupuesto</a></li>
      </ol>
</section>
<!-- Main content -->
<section ng-show="!ver" class="">

  <div id="c +argando" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: white url(https://camo.githubusercontent.com/c42feb9a8f376b4cea25daa05378ffc793ae2da4/687474703a2f2f692e696d6775722e636f6d2f4453487a6e73472e676966) no-repeat center center">
  </div>
</section>
<section ng-show="ver" class="" style="padding: 0px! important">
  <!-- title row -->
  <br>
  <div class="row" style="padding-left: 2%; padding-right: 2% ;">
    <div class="col-md-12" >
      <div class="box " style="border:none !important;" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EGRESOS</h3>
          <div class="box-tools pull-right">
            <div class="row">
              <div class="col-md-6 col-xs-6" style="padding-top: 1%; padding-right: 0">
                <div class="has-feedback ">
                  <input type="text" class="form-control input-sm" placeholder="Search" ng-model="filtro">
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <button  class="btn  btn-lg buttonLogin pull-right" style="text-align: center ;  font-size: 10px ;"   data-toggle="modal" data-target="#myModal" >NUEVO EGRESO</button>
              </div>
            </div> 
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <p ng-if="!costos[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No se ha registrado ningun evento</p>
          <div style="height: 300px; overflow-y: scroll;" ng-if="costos.length != 0">
            <table class="table table-hover table-striped">
              <tbody>
              <tr>
                <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                <th style="font-size: small; color: #B6BBC0 !important;">CANTIDAD</th>
                <th style="font-size: small; color: #B6BBC0 !important;">TIPO</th>
                <th style="font-size: small; color: #B6BBC0 !important;">TOTAL</th>
                <th style="font-size: small; color: #B6BBC0 !important;"></th>
              </tr>
               <tr ng-repeat="costo in costos | filter:filtro" style="font-size: small" >
                  <td class="mailbox-name"><a  style="color: #00a3ee !important;">{{costo.nombre}}</a></td>
                  <td class="mailbox-subject">{{costo.cantidad2}} <span ng-if="costo.tipo==0">(SubAct)</span></td>
                  <td class="mailbox-attachment">
                    <span ng-if="costo.tipo==0">{{costo.tipoNombre}}</span>
                    <span ng-if="!costo.tipo==0" >{{costo.tipoNombre}}</span>
                  </td>
                  <td style="color: #ff6c00 ; width: 35%;"><span>${{costo.costo2}}</span> 
                  <td>            
                    <div  ng-if="costo.tipo!=0" class="btn-group">
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="actCosto(costo)" data-toggle="modal" data-target="#myModal3"><i class="fa fa-edit"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal6" ng-click="seleccionar(costo.idCosto , 1)"><i class="fa fa-trash-o"></i></button>
                    </div>
                    <div ng-if="costo.tipo==0" class="btn-group">
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="selectActividad(costo)" data-toggle="modal" data-target="#myModal7"><i class="fa fa-plus"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
            </div>
          <!-- /.mail-box-messages -->
        </div>
      </div>
      <!-- /. box -->
    </div>
    <div class="col-md-12">
      <div class="box " style="border:none !important;" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">INGRESOS</h3>
          <div class="box-tools pull-right">
            <div class="row">
              <div class="col-md-6 col-xs-6" style="padding-top: 1%; padding-right: 0">
                <div class="has-feedback ">
                  <input type="text" class="form-control input-sm" placeholder="Search" ng-model="filtro2">
                </div>
              </div>
              <div class="col-md-6 col-xs-6">
                <button  class="btn  btn-lg buttonLogin pull-right" style="text-align: center ;  font-size: 10px ;"   data-toggle="modal" data-target="#myModal2" >NUEVO INGRESO</button>
              </div>
            </div> 
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <p ng-if="!ingresos[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No se ha registrado ningun evento</p>
          
          <div style="height: 300px; overflow-y: scroll;" ng-if="ingresos.length != 0">
            
            <table class="table table-hover table-striped" >
              <tbody>
                <tr>
                  <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">CANTIDAD</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">TIPO</th>
                  <th style="font-size: small; color: #B6BBC0 !important;">TOTAL</th>
                  <th style="font-size: small; color: #B6BBC0 !important;"></th>
                </tr>
                <tr ng-repeat="ingreso in ingresos | filter:filtro2" style="font-size: small">
                  <td class="mailbox-name"><a  style="color: #00a3ee !important;">{{ingreso.nombre}}</a></td>
                  <td class="mailbox-subject">{{ingreso.cantidad2}} <span ng-if="ingreso.tipo==0">(SubAct)</span></td>
                  <td class="mailbox-attachment">
                   <span ng-if="ingreso.tipo==0">{{ingreso.tipoNombre}}</span>
                    <span ng-if="!ingreso.tipo==0">{{ingreso.tipoNombre}}</span>
                  </td>
                  
                  <td style="color: #00eab5; width: 35%;"><span>${{ingreso.costo2}}</span> 
                  <td>            
                    <div class="btn-group" ng-if="ingreso.tipo!=0">
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="actIngreso(ingreso)" data-toggle="modal" data-target="#myModal4"><i class="fa fa-edit"></i></button>
                      <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" data-toggle="modal" data-target="#myModal6" ng-click="seleccionar(ingreso.idIngreso , 2)"><i class="fa fa-trash-o"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
        </div>
      </div>
      <!-- /. box -->
    </div>
  </div>
</section>
<!-- /.content -->	
<!-- Main content -->
<section ng-show="ver" class="">
  <!-- title row -->
  <div class="row" style="padding-left: 2%; padding-right: 2% ">

  </div>  
</section>

<section ng-show="ver">
<div class="row" style="padding-left: 2%; padding-right: 2% ">
    <div class="col-md-4 col-xs-12">
      <div class="box " style="border:none !important;" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EGRESOS</h3>
        </div>
        <!-- /.box-header -->
        
        <p ng-if="!costos[0]" style="font-size: small; color: #B6BBC0 !important;padding-left: 3%" >No se ha registrado egreso</p>
        <div class="box-body " ng-if="costos.length != 0">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
          </canvas> 
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked" style="font-size: small">
            <li><a href=""><i class="fa fa-circle" ng-style="colores[0]"></i>Totales por actividades: <span class="pull-right" style="color: #B6BBC0 !important">${{costoxact2}}</span></a></li>
            <li><a href=""><i class="fa fa-circle" ng-style="colores[1]"></i>Otros egresos: <span class="pull-right" style="color: #B6BBC0 !important">${{otrosCostos2}} </span></a></li>
            <li><a style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px;background-color: #c6c5c2d1" class="">Total: <span class="pull-right"  > ${{subCosto2}}</span></a></li>
          </ul>
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="box " style="border:none !important;" >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">INGRESOS</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body" ng-if="ingresos.length != 0">
          <canvas id="pie2" class="chart chart-pie" chart-data="data2" chart-labels="labels2" chart-options="options">
          </canvas> 
        </div>
        <p ng-if="!ingresos[0]" style="font-size: small; color: #B6BBC0 !important;padding-left: 3%" >No se ha registrado ingreso</p>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked" style="font-size: small">
            <li><a href=""><i class="fa fa-circle" ng-style="colores[0]"></i>Totales por actividades: <span class="pull-right" style="color: #B6BBC0 !important">${{ingresoxact2}}</span></a>
              
            </li>
            <li><a href=""><i class="fa fa-circle" ng-style="colores[1]"></i>Otros ingresos: <span class="pull-right" style="color: #B6BBC0 !important">${{otrosIngresos2}} </span></a></li>
            <li><a style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px;background-color: #c6c5c2d1" class="">Total: <span class="pull-right"  > ${{subIngreso2}}</span></a></li>
          </ul>
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.box -->
    </div>
   <div class="col-md-4 col-xs-12">
      <div class="box " style="border:none !important;"  >
        <div class="box-header with-border">
          <h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">TOTALES</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body " ng-show="costos.length != 0 && ingresos.length!= 0">
        <!--  <canvas id="bar3" class="chart chart-bar" chart-data="data3" chart-labels="labels3" chart-series="s"> 
          </canvas>-->
            <canvas id="barChart" style="height:230px"></canvas>
        </div>
        <p ng-if="!ingresos[0]&&!costos[0]" style="font-size: small; color: #B6BBC0 !important;padding-left: 3%" >No se ha registrado ingreso ni egresos</p>
        <div class="box-footer no-padding">
          <ul class="nav nav-pills nav-stacked" style="font-size: small">
            <li><a href=""><i class="fa fa-circle" ng-style="colores[0]"></i> Total de Egresos:<span class="pull-right" style="color: #B6BBC0 !important">${{subCosto2}} </span></a>
            </li>
            <li><a href=""><i class="fa fa-circle" ng-style="colores[1]"></i>Total de Ingresos: <span class="pull-right" style="color: #B6BBC0 !important">${{subIngreso2}} </span></a></li>
            <li><a style="overflow:hidden;white-space:nowrap;text-overflow: ellipsis; padding-left: 2px;background-color: #c6c5c2d1" class="">Margen: <span class="pull-right"  > {{neto2}}%</span></a></li>
          </ul>
        </div>
        <!-- /.footer -->
      </div>
      <!-- /.box -->
    </div>
 </div>
</section>
<!-- /.content -->  

<!-- Modal de insertar nuevo costo al evento-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">OTRO EGRESO</h3></center>
      </div>
      <form name="formCosto">
        <div class="modal-body">
           <div class="row" style="font-size: smaller">
              <div class="col-md-4 col-xs-12 col-lg-4">
                <!-- text input -->
                <div class="form-group">
                  <label style="font-weight: 300;">
                    <span ng-if="!tipoNuevo" class="fa fa-plus " style="color:#3c8dbc" ng-click="agregarTipo()"></span>
                    <span ng-if="tipoNuevo" class="fa  fa-list-ul " style="color:#3c8dbc" ng-click="agregarTipo()"></span>
                    <span ng-if="!tipoNuevo">Selecciona el Tipo:</span>
                    <span ng-if="tipoNuevo">Nombre del Tipo:</span>
                  </label>
                  <input style="border-radius: 9px" ng-if="tipoNuevo" ng-model="costo.tipoNombre" type="text" class="form-control" >
                  <select style="border-radius: 9px" ng-if="!tipoNuevo" ng-model="costo.tipo"  class="form-control">
                    <option value="{{tipo.idTipo}}" ng-repeat="tipo in tipoCosto">{{tipo.nombre}}</option>
                  </select>
                </div> 
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Nombre:</label>
                  <input style="border-radius: 9px" ng-model="costo.nombre" type="text" class="form-control" >
              </div>
              <div class="col-md-4 col-xs-12 col-lg-4" >
                <label style="font-weight: 300;">Cantidad:</label>
                <input style="border-radius: 9px" ng-model="costo.cantidad" id="cantidadcosto" class="form-control" >
              </div>
            </div><br>
            <div class="row" style="font-size: smaller">
              <div class="col-md-4 col-xs-12 col-lg-4">
                  <label style="font-weight: 300;">Costo Total:</label>
                  <input style="border-radius: 9px" ng-model="costo.costo" id="costodecosto" class="form-control" >
              </div>
              <div style="margin-top: 3%;" class="col-md-4 col-xs-12 col-lg-4">
                <div class="form-group">
                  <label>
                    <input type="checkbox" id="appCheck" class="minimal" ng-change="mostrarApp()" ng-model="checkApp" >
                  </label>
                  <label style="color: #b7adad ; font-weight: 300;">
                    ¿Mostrar en la App?
                  </label>
                </div>
               
              </div>  
           </div>
        </div>
        <div class="modal-footer" style="margin: 0;">
            <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-disabled="formActividad.$invalid" ng-click="guardarCosto()" >GUARDAR</button>
        </div>
     </form>    
    </div>
  </div>
</div>

<!-- Modal de insertar n nuevo costo al evento-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">OTRO INGRESO</h3></center>
      </div>
      <form name="formIngreso">
        <div class="modal-body">
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Nombre:</label>
                <input style="border-radius: 9px" ng-model="ingreso.nombre" type="text" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4" >
              <label style="font-weight: 300;">Cantidad:</label>
              <input style="border-radius: 9px" ng-model="ingreso.cantidad" id="cantidadingreso" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Costo Total:</label>
                <input style="border-radius: 9px" ng-model="ingreso.costo" id="costodeingreso" class="form-control" >
            </div>
          </div><br>
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
                  <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">
                  <span ng-if="!tipoNuevo" class="fa fa-plus " style="color:#3c8dbc" ng-click="agregarTipo()"></span>
                  <span ng-if="tipoNuevo" class="fa  fa-list-ul " style="color:#3c8dbc" ng-click="agregarTipo()"></span>
                  <span ng-if="!tipoNuevo">Selecciona el Tipo:</span>
                  <span ng-if="tipoNuevo">Nombre del Tipo:</span>
                </label>
                <input style="border-radius: 9px" ng-if="tipoNuevo" ng-model="ingreso.tipoNombre" type="text" class="form-control" >
                <select style="border-radius: 9px" ng-if="!tipoNuevo" ng-model="ingreso.tipo" class="form-control">
                  <option value="{{tipo.idTipo}}" ng-repeat="tipo in tipoIngreso">{{tipo.nombre}}</option>
                </select>
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer" style="margin: 0;">
          <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-disabled="formActividad.$invalid" data-dismiss="modal" ng-click="guardarIngreso()" >GUARDAR</button>
        </div>
     </form>    
    </div>
  </div>
</div>
<!-- Modal de insertar nuevo costo al evento-->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EDITAR COSTO</h3></center>
      </div>
      <form name="formCosto">
      <div class="modal-body">
        <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Nombre:</label>
                <input style="border-radius: 9px" ng-model="costo.nombre" type="text" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4" >
              <label style="font-weight: 300;">Cantidad:</label>
              <input style="border-radius: 9px" ng-model="costo.cantidad" id="cantidadcosto2" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Costo Total:</label>
                <input style="border-radius: 9px" ng-model="costo.costo" id="costodecosto2" class="form-control" >
            </div>     
          </div><br>
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
            <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">Selecciona el Tipo:</label>
                <select style="border-radius: 9px" ng-model="costo.tipo" class="form-control">
                  <option value="{{tipo.idTipo}}" ng-repeat="tipo in tipoCosto" ng-selected ="tipo.idTipo == costo.tipo">{{tipo.nombre}}</option>
                </select>
              </div> 
            </div>
         </div>
      </div>
      <div class="modal-footer" style="margin: 0;">
        <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  ng-disabled="formActividad.$invalid" ng-click="actualizarCosto()" data-dismiss="modal">ACTUALIZAR</button>
      </div>
     </form>    
    </div>
  </div>
</div>

<!-- Modal de insertar n nuevo costo al evento-->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header " style="padding-bottom: 0">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important">EDITAR INGRESOS</h3></center>
      </div>
      <form name="formIngreso">
        <div class="modal-body">
          <div class="row" style="font-size: smaller">
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Nombre:</label>
                <input style="border-radius: 9px" ng-model="ingreso.nombre" type="text" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4" >
              <label style="font-weight: 300;">Cantidad:</label>
              <input style="border-radius: 9px" ng-model="ingreso.cantidad" id="cantidadingreso2" class="form-control" >
            </div>
            <div class="col-md-4 col-xs-12 col-lg-4">
                <label style="font-weight: 300;">Costo Total:</label>
                <input style="border-radius: 9px" ng-model="ingreso.costo" id="costodeingreso2" class="form-control" >
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-4 col-xs-12 col-lg-4">
            <!-- text input -->
              <div class="form-group">
                <label style="font-weight: 300;">
                  Selecciona el Tipo:
                </label>
                <select style="border-radius: 9px" ng-model="ingreso.tipo" class="form-control">
                  <option value="{{tipo.idTipo}}" ng-repeat="tipo in tipoIngreso" ng-selected ="tipo.idTipo == ingreso.tipo">{{tipo.nombre}}</option>
                </select>
              </div> 
            </div>
          </div>
        </div>
        <div class="modal-footer" style="margin: 0;">
          <button  class="btn btn-lg buttonLogin " style="text-align: center ;  font-size: 10px ;"  data-dismiss="modal" ng-disabled="formActividad.$invalid" ng-click="actualizarIngreso()">ACTUALIZAR</button>
        </div>
     </form>    
    </div>
  </div>
</div>

  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
       <div class="modal-body">
          <div class="box" style="border-top: none; box-shadow: none;">             
            <div class="icon">
              <div class="image"><i style="color: #00a3ee ! important" class="ion ion-happy-outline"></i></div>
              <div class="info">
                <h3 class="title" style="font-size: small ; margin-top: 10%">ÉXITO!</h3>
                <p>
                  Se ha realizado correctamente.
                </p>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body" style="padding-top: 15px">
          <div class="box" style="border: none; box-shadow: none;">             
            <div class="icon">
              <div class="image" ><i  class="fa fa-trash-o" style="color: #00a3ee ! important"></i></div>
              <div class="info">
                <h3 class="title" style="font-size: small ; margin-top: 10%">ESPERE!</h3>
                <p>
                  ¿Está seguro de que desea eliminar?
                </p>
              <br> <br>
               <button  type="button" class="btn pull-left buttonModal" ng-click="atras()" data-dismiss="modal" >Cerrar</button>
              <button type="button" class="btn pull-right buttonModal" data-dismiss="modal" ng-click="eliminarCoI()">Aceptar</button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>

<!-- Modal de insertar nuevo costo al evento-->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document" >
    <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <center><h3 class="box-title" style="font-size: small; color: #B6BBC0 !important; text-transform: uppercase ! important;">EGRESOS DE LA ACTIVIDAD: {{eventoSeleccionado.descripcion}} </h3></center>
      </div>
      <div class="modal-body">
        <div class="row" style="padding-left: 1% ; font-size: smaller">
          <div class="col-md-4 col-xs-12">
            <label style="font-weight: 300;">Nombre:</label>
            <input style="border-radius: 9px" ng-model="costoa.nombre" type="text" class="form-control" placeholder="sillas">
          </div>
          <div class="col-md-4 col-xs-12 ">
            <label style="font-weight: 300;">Cantidad:</label>
            <input id="costoacantidad" style="border-radius: 9px" ng-model="costoa.cantidad"  type="text" class="form-control" placeholder="130">
          </div>
          <div class="col-md-4 col-xs-12">
            <label style="font-weight: 300;">Costo Total:</label>
            <input id="costoacosto" style="border-radius: 9px" ng-model="costoa.costo"  type="text" class="form-control" placeholder="130000">
          </div>
          <div class="pull-right col-md-6 col-xs-12 " style="padding-top: 2%; left: 20%;">
            <div class="form-group" >
              <label>
                <input  type="checkbox" class="minimal" ng-change="chequea()" ng-model="app" >
              </label>
              <label style="color: #b7adad ; font-weight: 300;">
                ¿Mostrar en la app?
              </label>
              <button class="btn btn-lg buttonLogin " style="margin: 1%;text-align: center ;  font-size: 10px ;" ng-click="createCostoActividad()">AGREGAR</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row" style="padding-left: 3%;padding-right: 3%">
          <p ng-if="!costosActividad[0]" style="font-size: small; color: #B6BBC0 !important;text-align: center" >No posee Costos, debe insertarlos en el boton "agregar"</p>
          <table ng-if="costosActividad[0]" class="table table-hover table-striped">
            <thead>
              <th style="font-size: small; color: #B6BBC0 !important;">NOMBRE</th>
              <th style="font-size: small; color: #B6BBC0 !important;">CANTIDAD</th>
              <th style="font-size: small; color: #B6BBC0 !important;">COSTO TOTAL</th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat="costo in costosActividad">
                <td  class="mailbox-name" style="color: #00a3ee !important;font-size: small">{{costo.nombre}}</td>
                <td class="mailbox-name" style="font-size: small;">{{costo.cantidad}}</td>
                <td class="mailbox-name" style="font-size: small;">${{costo.costo}}</td>
                <td>
                  <button type="button" style="background-color: transparent;color: #b6bbc0;font-size: medium;" class="btn btn-clean btn-sm" ng-click="deleteCostoActividad(costo)"><i class="fa fa-trash-o"></i></button>
                </td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>
     </div>
  </div>
</div>

